[2018-02-01 10:45] pplant opened #5 "Custom attributes"
Will it be possible to add custom attributes to serializers that will delegate to a function within the serializer class. E.g.:

    attributes :fullname

    def fullname
        "#{object.firstname} #{object.lastname}"
    end

Are you guys willing to accept a pull request implementing such a feature?

[2018-02-01 12:32] NielsKSchjoedt commented on #5
+1

[2018-02-01 12:37] ansonhoyt commented on #5
I use this feature of AMS regularly, as an API-specific attribute often doesn't belong in my model.

[2018-02-01 13:21] mgomes opened #7 "Oj Runtime Dependency"
Would you accept a PR for removing `Oj` as a dependency? Since this is a C gem, it prevents non-MRI VMs from using this gem. With `MultiJson`, just having `Oj` loaded in the host app is enough to make `to_json` use it.

[2018-02-01 15:08] jm opened #10 "Remove Skylight as a forced dependency"
I'm all for having it available to those who need it, but it adds a lot of noise otherwise for those that don't.

[2018-02-01 15:18] pplant opened #11 "Question on benchmark results"
I'm kind of courious where exactly or what makes fast_jsonapi 25x faster than AMS. Could you provide me some information on this?

It is clear that AMS probably generates some overhead due to a variety of features such as
custom attributes, adapters, conditionals and others. Eventhough the benchmark tests are only using the non-default adapter. E.g.: Only by removing this line of code and using th

[2018-02-01 15:34] richmolj opened #12 "JSONAPI Suite Integration"
I’m the creator of [JSONAPI Suite](https://jsonapi-suite.github.io/jsonapi_suite) which currently uses [jsonapi-rb](http://jsonapi-rb.org) for the serialization layer. Have you benchmarked against jsonapi-rb?

JSONAPI Suite supports deeply nested reads and writes, [integration spec helpers](https://jsonapi-suite.github.io/jsonapi_suite/how-to-write-specs), [automatic documentation](https://jsonapi

[2018-02-01 16:18] saturnflyer commented on #5
I was curious about this and I think some code like this could allow you to get around the missing custom attributes without changes to the gem:

[code]

One could simplify it if it's a common enough pattern

[2018-02-01 17:37] minsikzzang commented on #10
addressed here https://github.com/Netflix/fast_jsonapi/pull/14, just moved it to dev dependency with gem loading check rather than just removing.

[2018-02-01 17:38] grossadamm commented on #12
We have not, and it would certainly be worth doing!

[2018-02-01 17:42] grossadamm commented on #11
It is entirely possible that AMS may be faster at serializing other formats, but we are focused on serializing to the jsonapi spec. It is also entirely possible that you don't want or need the jsonapi spec and that AMS is the better choice for you. That's ok :).

This gem does not attempt to compete with AMS on the ability to output into multiple different formats or on the amount of customizabili

[2018-02-01 17:47] grossadamm commented on #7
Interesting... I like the concept. I'm curious if we can somehow detect MRI vs non-MRI to load Oj on automatically when using MRI. Otherwise, I think it will be a matter of good documentation. I will confess that I've not done much work outside of the MRI world.

[2018-02-01 18:10] andypike commented on #11
Out of curiosity, do you know how this compares with `jsonapi-rb` (http://jsonapi-rb.org)? We've started migrating from AMS to `jsonapi-rb` due to the performance improvements it gives. I'd be interested in how this compares also.

Thanks!

[2018-02-01 18:21] philipqnguyen commented on #7
@grossadamm a few others and myself have been working on a similar serialization gem, and we also came across this problem. We decided to make it configurable to allow the host app to specify which JSON library to utilize: https://github.com/procore/blueprinter#oj

Just wanted to share what our approach was because it could be useful for this as well.

[2018-02-01 18:25] AtomGrafiks opened #16 "Error with namespaced relations with inclusions"
An error is perform when includes an associations has_one

[code]

[code]

[code]

call:
[code]

Error :
[code]

[2018-02-01 18:57] grossadamm commented on #10
PR Merged, I'm closing this. Please re-open if needed :)

[2018-02-01 18:57] #10 closed

[2018-02-01 19:11] sriniwasgr commented on #5
@pplant Appreciate your input. I believe we have this functionality for relationships if can use a class method (say: in a decorator) and use this on the serializer.

Example:

`has_many :locations, object_method_name: :places`

You could create a decorator with the method 'places' and include it on the model. In your case, i see you need that for an attribute, we will be happy to provide this fun

[2018-02-01 19:30] TrevorHinesley commented on #5
Not sure if this is implied in this request, but we also override existing attributes to format them differently for JSON responses.

[2018-02-01 19:46] pplant commented on #11
@grossadamm first of all thanks for your replay. To be clear I'm not trying to troll you guys nor I'm a defender of AMS preaching it to be the silver bullet. On the contrary I think AWS is a major bottleneck in many APIs thats why I'm interested to understand what exactly makes fast_jsonapi more performant than AMS.

Apart from the possiblity in AMS to set different adapters which apparently have

[2018-02-01 19:59] grossadamm commented on #16
Interesting.. I'd like to build a test to replicate this failure so I can verify it's truly resolved.

[2018-02-01 20:03] grossadamm commented on #11
@andypike I think that's definitely worth comparing and benchmarking against!

@pplant No offense taken at all :). In fact, it's these kind of discussions that I personally believe add the most value to the community. Asking why is incredibly important and could even lead to a better solution. To that end, I'm going to actually ask @shishirmk or @sriniwasgr to step in as they did most of the deep

[2018-02-01 20:36] Daniel-ltw opened #21 "Caching: race condition ttl"
Rails.cache.fetch might need a race_condition_ttl option?

[2018-02-01 21:06] grossadamm commented on #21
This makes sense to me!

[2018-02-01 21:12] wagenet opened #22 "Skylight Integration Suggestions"
As one of the lead developers on Skylight it's awesome to see you integrating it!

This is probably a bit counter to our own self-interest, but I think it would probably make a bit more sense if, instead of using `Skylight::Helpers` you just use `ActiveSupport::Notifications`. You could then set up a `Skylight::Normalizer` to consume the events if Skylight was present or other libraries could use

[2018-02-01 21:18] sriniwasgr commented on #22
@wagenet thanks for the suggestion.  We will definitely add this to the roadmap.

[2018-02-01 21:25] wagenet commented on #22
Awesome, just ping me when you've got some time to chat about it. Looks like you do some Ember stuff so you can grab me on the Ember Community Slack if you're there. I'll also be at EmberConf and RailsConf if you'll be at either. Or we can keep chatting here of course.

[2018-02-01 21:46] sriniwasgr commented on #16
@AtomGrafiks i believe you have a typo in the Location Serializer. The optional key 'serializer' expects a symbol and by convention assumes all serializers are in the same namespace.

`class Cluster::LocationSerializer
  include FastJsonapi::ObjectSerializer
  attributes :begin_at, :end_at

  has_one :workspace, serializer: :workspace
  has_one :user, serializer: user
end`

In your specific case,

[2018-02-01 22:26] ocha opened #24 "Possibly skewing of benchmark results"
I noticed 2 issues with how benchmarks are set up.
1) `build_ams_movies` builds owner, movie_type and actor objects while `build_movies` only sets up ids and builds objects just in time when serializing the movies array (and not building owner object at all). It looks like AMS serialization will use more memory and trigger more GC (be slower) because of the way it is set up. Both test setups shoul

[2018-02-02 00:54] poteto commented on #22
@wagenet We do a little bit ;)

[2018-02-02 03:10] NickBeukema opened #28 "Deserialization Support"
When working with AMS, I find it very useful to be able to deserialize my incoming Json API requests. After looking through the library, it looks like this is not an option. Am I missing something, or is there a reason that deserialization is left out?

This library looks great! I'm using this on my next project, will just need AMS in tandem to deserialize for now. Thanks!

[2018-02-02 04:01] sriniwasgr commented on #28
@NickBeukema we wanted to get all the major serialization features in this release.  The plan was never to support every AMS feature, but only to support the key ones at a greater speed and then iteratively enhance the gem to provide additional functionality.

Please continue to supplement with other gems in tandem for your deserialization needs.

[2018-02-02 04:23] shishirmk commented on #28
@NickBeukema just adding to @sriniwasgr's reply to deserialize params we use this gem https://github.com/Netflix/restful-jsonapi

[2018-02-02 04:41] #28 closed

[2018-02-02 09:54] estepan opened #31 "Shame"
insolent lie
[code]

[2018-02-02 10:19] wilsonsilva opened #32 "Question: why juwelier"
The gemspec of `juwelier` is a mess. What are the advantages of it and running `rake gemspec` every time vs the regular Bundler gemspec?

[2018-02-02 10:40] AtomGrafiks commented on #16
Ah, interesting, thanks ;)

[2018-02-02 10:40] #16 closed

[2018-02-02 13:46] elrosa opened #35 "has_one serialization fails for nil association"
Attempt to serialize model with `has_one` association fails if association is nil:

**`NoMethodError (undefined method 'id' for nil:NilClass)`**

`(fast_jsonapi-1.0.16/lib/extensions/has_one.rb:12)`

If associated model exists, it gets serialized correctly.

Example:
[code]

[2018-02-02 15:02] minsikzzang commented on #24
I have a PR https://github.com/Netflix/fast_jsonapi/pull/36 for enabling OJ to AMS.

[2018-02-02 15:47] AtomGrafiks opened #37 "association and polymorphic"
Hey, a brief example :
[code]

serializer :

[code]

output : (the type of data not relative to `reportable_type`)
[code]
 type is `reportable`, not `user` or `group` and Fast_JSONAPI fetch a `ReportableSerializer` not `UserSerializer` ou `GroupSerializer`

**Implementation of polymorphic association is a great feature** 👍

[2018-02-02 16:12] #24 closed

[2018-02-02 17:23] grossadamm commented on #31
I'm confused, do you disagree with the benchmarks or the methodology?

[2018-02-02 17:35] grossadamm commented on #5
This makes a ton of sense to have an easy way to handle this.

[2018-02-02 17:46] grossadamm commented on #35
Great find! We'll get a test to replicate and fix.

[2018-02-03 00:13] grossadamm commented on #31
I'm going to close this. If you can provide additional clarification, I would be happy to re-open and discuss more.

[2018-02-03 00:13] #31 closed

[2018-02-03 00:14] grossadamm commented on #32
I believe we tried to use `juwelier` because at a quick glance it seemed like it offered some good patterns. In practice though, I agree with you and it will likely be removed.

[2018-02-03 00:35] grossadamm commented on #11
We are putting together a longer writeup, but in a nutshell, the gains were mostly found by focusing just on JSON API and homogenous lists.

[2018-02-03 00:43] grossadamm commented on #7
I will do some reading and see what we can learn from your implementation. Thanks for sharing!

[2018-02-03 00:46] grossadamm commented on #37
We can check that out. I'm curious how that would impact the performance though. Definitely worth investigating, especially for the ease of use.

[2018-02-03 13:36] ljieyao opened #39 "How to integrate with DynamoDB using aws-record"
As mentioned in title, how can I integrate this with DynamoDB using aws-record gem?

For example, I have this `Project` model

[code]

and then I have this `Company` model

[code]

and then I have the serializer for `Project`

[code]

it return me error as follow:

[code]

I have no idea how to fix this. Please help.

[2018-02-03 15:53] shishirmk commented on #39
@ljieyao assuming `string_atttr :company` in the Project model holds the id of the company you can use the :id_method_name option.

I have added to your example above
[code]

Here is the list of all such options available. If you need to configure your own method you can use these options

https://github.com/Netflix/fast_jsonapi#customizable-options

[2018-02-03 16:10] shishirmk commented on #5
@TrevorHinesley @pplant the workaround is to add the method to the model instead of the serializer.

If you would like to define it in the serializer that is not possible today. Happy to look at pull request if you get around to it.

[2018-02-03 16:14] TrevorHinesley commented on #5
@shishirmk unfortunately that isn’t a viable option for our case. For instance, we would have to use a different name than the column obviously, which means the attribute in the response would be named differently than the column. But if we want the attribute to have the same name as the column, that wouldn’t be possible without overriding its getter. We don’t want to override the getter since it’

[2018-02-03 17:27] ljieyao commented on #39
@shishirmk thx. I will try again later =)

[2018-02-03 19:28] pratikpandit05 opened #41 "Support for CamelCase attributes"
We're looking at json serializers specifically for serializing a PORO.

One of the core requirements for serialization is that the snake_cased attribute keys be transformed into CamelCased ones to support the json standards being followed by our organization and also some others like Google, w3resource, schema.org, etc.

Will such a request be considered for this gem? It can be a special configura

[2018-02-04 02:16] #39 closed

[2018-02-04 21:10] NullVoxPopuli opened #44 "Benchmarks vs jsonapi-rb?"
Jsonapi-rb was written by @beauby, who also used to work on AMS (i did too). It's also way faster than AMS.

I saw the medium blog post, and i think more details about the benchmark woulld be good, too.
For example, in my own benchmarks, with 200 records with 2 included relationships each,. I found that jsonapi-rb is 5 to 6 times faster than AMS. I can share the benchmarrk files with you if it'd h

[2018-02-04 21:38] shishirmk commented on #44
Thanks for reaching out. We are putting together a longer writeup. Our benchmarks can be run very easily If you just run rspec you will see the results. More information about how the benchmarks are setup take a look at this file

https://github.com/Netflix/fast_jsonapi/blob/master/spec/lib/object_serializer_performance_spec.rb

We had a very specific goal in mind so we got the speed increase by s

[2018-02-04 21:55] shishirmk commented on #41
@pratikpandit05 checkout the pull request. That adds the flexibility to choose any kind of key transform including CamelCase and camelCaseLower

[2018-02-04 22:47] blocknotes opened #47 "Include nested of nested association"
It would be great to allow to include nested of nested associations... example:

[code]

In Post serializer, to include author's profile something like:
`PostSerializer.new @post, {include: [:author, :'author.profile', :tags]}`
could be very useful.

[2018-02-05 01:09] potato20 commented on #47
+1 wud rly lik dis vry much pls netflox aprcite it

[2018-02-05 04:07] pratikpandit05 commented on #41
+1. Thank you.

[2018-02-05 08:41] ahx commented on #44
@shishirmk Thank you for sharing this and thinking about putting together a longer writeout. It would be great if you could add one or two sentences about *why* fast_jsonapi is faster than AMS. I am very interested in this sort of performance optimization, but I currently have no clue about where to start or what techniques to avoid in order to become/stay fast.

[2018-02-05 10:19] maxime-d opened #50 "Serialization structure"
Hi,

We works with AMS, and we have many options to customize the serialization output.
Actually the serialization object with `fast_jsonapi` are imposed.

[code]

So, do you have any ideas if you wants add more options to changes structure of data, example if I want build :

[code]

[code]

Thanks

[2018-02-05 11:27] sriniwasgr commented on #50
@maxime-d I believe you are asking if non json api spec is or will be supported. The answer is no. The gem was designed to work with json api spec to avoid bike shedding.

[2018-02-05 11:45] berniechiu opened #51 "After OJ is enabled for AMS, the speed test randomly failed"
According to this PR https://github.com/Netflix/fast_jsonapi/pull/36, OJ is enabled for AMS

Now causing the benchmark spec randomly failed, looks like the speed factor is not quite consistent since it's random. I might look into this later anyway.

[code]

[2018-02-05 15:29] guilleiguaran commented on #32
This can be closed since #40 was merged.

[2018-02-05 15:32] #32 closed

[2018-02-05 15:39] minsikzzang commented on #12
benchmark against `jsonapi-rb` added https://github.com/Netflix/fast_jsonapi/pull/52

[2018-02-05 15:39] minsikzzang commented on #44
benchmark against `jsonapi-rb` added https://github.com/Netflix/fast_jsonapi/pull/52

[2018-02-05 15:41] guilleiguaran commented on #5
I have opened a PR for this: #49

[2018-02-05 16:20] ljieyao opened #53 "[Question] How can it be used to serialize error?"
I wonder how can I use it to return an error message with HTTP error?

[2018-02-05 16:32] christophersansone commented on #47
Me too!  IIRC, AMS would specify it as `{ include: [ { author: [ :profile ] }, :tags ] }`.  This approach seems ideal because the developer can define a deeply nested hash and arrays to reflect the deeply nested relationships.

[2018-02-05 16:43] DVG commented on #53
JSONAPI only requires that a top level errors array be returned and has many optional member attributes that you may or may not find useful:

http://jsonapi.org/format/#error-objects

Therefore you should just be able to make an error serializer with as much of the spec that you find useful (code, title, detail, for instance)

[2018-02-05 18:04] christophersansone commented on #5
FWIW, I did a second PR (#54) with a smaller change footprint.  The main difference is that the attribute functionality would be defined as a block instead of a separate method.

From the point of view of someone building and reviewing a serializer, I would personally prefer this approach.  I can see immediately if the attribute is being overridden or implemented differently, without needing to re

[2018-02-05 20:26] grossadamm opened #55 "Use primary key instead of hard coding id"
In some cases, the `id` column or attribute is hard coded in. It might make more sense to use the [primary key](http://api.rubyonrails.org/classes/ActiveRecord/AttributeMethods/PrimaryKey/ClassMethods.html#method-i-primary_key-3D) or something similar to derive the actual primary key.

[2018-02-05 20:26] grossadamm commented on #35
Looks like @jeremyjung is on this. Thanks!

[2018-02-05 20:36] grossadamm commented on #53
@DVG thanks for chiming in and I agree with your approach. This library does not take an opinionated approach for serializing errors. You could optionally do something as simple as the below (untested) and still be within the json api spec.

[code]

[2018-02-06 03:18] youroff opened #57 "`fields` option to choose what attributes will be used in serialization"
Would be awesome if it was possible to choose what keys will be used to generate json. So that depending on context, using the same serializer, we could render light-version of the model. This is what we used a lot in AMS. If this makes sense, I can provide a PR.

[2018-02-06 06:32] shishirmk commented on #57
@youroff I would be happy to look at PR. This is an enhancement that we would like to see in the gem.

[2018-02-06 06:42] shishirmk commented on #51
We may need to clean up and remove the json string serialization performance tests altogether or make them information only. The gem controls only the ruby hash creation time after that its just multi json and the chosen engine.

[2018-02-06 07:21] guilleiguaran commented on #55
Even when using a custom primary key with ActiveRecord `Model#id` always return the value of the primary key, e.g:

[code]

Ref: https://github.com/rails/rails/blob/master/activerecord/lib/active_record/attribute_methods/primary_key.rb#L18-L22

[2018-02-06 08:21] MarcusRiemer commented on #41
As the mentioned PR #45 has been merged: Is there any ETA for the version containing the change to be released?

[2018-02-06 14:23] LeGuit opened #60 "[Question] `src` in attributes"
Hey,

Thanks for this gem !

I haven't see this yet in documentation but do you plan to add the `src` when you create an object e.g. :
[code]

Same for links e.g.:
[code]

[2018-02-06 18:08] vovimayhem commented on #37
As far as I can see, having a polymorphic `has_many` (or ActiveRecord models using single-table inheritance, which is my case) is a problem right now, as this gem's serializing expects all associated objects to be the same type for a particular relation...

@grossadamm I too wonder how much of a performance hit is to read each associated object's class and infer the serializer used... but we can s

[2018-02-06 18:19] vovimayhem commented on #37
...@grossadamm how much performance decrease is the team willing to accept?

[2018-02-06 19:09] nurey commented on #57
Would love to see this. This is JSON API sparse fieldsets. http://jsonapi.org/format/#fetching-sparse-fieldsets

[2018-02-06 19:45] hmcfletch commented on #22
I opened #61 to take a crack at this.

[2018-02-06 21:54] shishirmk commented on #41
@MarcusRiemer We are planning to release a 1.1.0 version of the gem soon (in a week or two). We are figuring out if we should release it with custom attributes feature being discussed in pull requests or just the things we have merged so far are enough.

[2018-02-06 22:43] sriniwasgr commented on #11
@pplant Here is the [link](https://github.com/Netflix/fast_jsonapi/blob/master/performance_methodology.md) to the performance doc. Hopefully it helps in answering your question.

[2018-02-06 22:45] sriniwasgr commented on #44
@NullVoxPopuli  @shishirmk  Here is the [link](https://github.com/Netflix/fast_jsonapi/blob/master/performance_methodology.md) to the performance doc. Hopefully it helps in answering your question.

[2018-02-06 22:51] youroff commented on #57
There's a couple of problems though. On my computer perf tests are randomly failing 50% of times. Which happens without modifications too though.

I'm not sure that it will work if different key_transform was used in different serializers. To fix that, we might instantiate serializers when processing included records, instead of using their internals on the class level. It might affect performance

[2018-02-06 22:54] vovimayhem commented on #51
I understand - even praise - the performance criteria set up for this project. But maybe the "at least 25x" criteria is either a bit too much, or too inflexible for some scenarios that it's actually hitting this limit.

I'm seeing (right now) master fail a couple of performance tests by 1x or less... leaving no headroom for adding new features :( - I'm taking a jab at #37 right now, and given mast

[2018-02-07 03:04] shishirmk commented on #60
We are still figuring out what our roadmap would be. We are overwhelmed by the response from the community. We are reviewing pull requests and figuring out what our 1.1.0 release would look like and when it would be out.

If you could submit a pull request then we can certainly add it in sooner.

[2018-02-07 03:07] shishirmk commented on #47
@christophersansone Agree. Using the AMS approach would be ideal. We would like to have this feature added to fast_jsonapi as soon as we can. @potato20 @blocknotes pull requests are welcome

[2018-02-07 03:10] shishirmk commented on #37
@vovimayhem  We are still fine tuning our benchmark tests but yes as long as its consistently 25 times faster than AMS we are good.

[2018-02-07 03:25] shishirmk commented on #22
@wagenet Do you mind taking a look at @hmcfletch's pull request. From a skylight point of view would it work just the same way as `instrument_method` works?

[2018-02-07 03:37] Uysim commented on #50
+1

[2018-02-07 06:26] amitsuryavanshi commented on #44
I did some benchmarking with [https://github.com/amitsuryavanshi/json-parser-benchmark](script) and results (Iterations per second) were,
Warming up --------------------------------------
          jsonapi-rb    10.000  i/100ms
Calculating -------------------------------------
          jsonapi-rb    111.401  (±20.6%) i/s -      1.580k in  15.058330s

Warming up -----------------------------------

[2018-02-07 06:32] shishirmk commented on #44
@amitsuryavanshi
Here is the benchmark i see on my laptop based on #52 by @minsikzzang

[code]

[2018-02-07 06:41] shishirmk commented on #51
@vovimayhem We can change the 25x criteria. if the feature really needs some performance degradation we will lower the criteria. I think we should always start by discussing if we can implement the feature without any material change to performance.

Here is an example of a sample discussion i enjoyed https://github.com/Netflix/fast_jsonapi/pull/49

[2018-02-07 07:51] pplant commented on #11
Thanks! Awesome write up. Think we can close this issue unless somebody else has further questions.

[2018-02-07 14:33] christophersansone commented on #51
Agreed with @shishirmk .  I love that the performance metrics are part of the process.  PRs that do not impact performance can be approved quickly, but implementations that have a performance impact will at least raise a red flag to the maintainers.  It may just require a minor tweak to fix the performance change, or we may be able to more tightly isolate the performance degradation to certain cas

[2018-02-07 17:11] hmcfletch commented on #22
@wagenet I'd love some pointers on normalizers/probes. The AS notifications were easy enough, but not really sure about the normalizers and probes.

[2018-02-07 17:19] grossadamm commented on #53
I feel like this question has been answered. I'm going to close this for now, please feel free to re-open if you disagree!

[2018-02-07 17:19] #53 closed

[2018-02-07 18:26] aarongough opened #65 "Different underlying models used in benchmarks skew results"
The benchmarks use underlying models that are fundamentally different. The models used by `fast_jsonapi` in the benchmarks are raw Ruby objects, whereas the models used in the `ams` parts of the benchmarks inherit from `ActiveModelSerializers::Model`.

This difference skews the benchmarks significantly in favor of `fast_jsonapi`, after updating the models for the `fast_jsonapi` parts of the benchm

[2018-02-07 18:29] maxime-d commented on #50
@sriniwasgr right, we are not json api / rpc spec compliant, I hope one day my CTO is agree to switch it, but for moment i'm asking if `fast_jsonapi` have any idea if they support another structure ;). Indeed first implementation of `fast_jsonapi` is awesome and good way !

[2018-02-07 19:12] wagenet commented on #22
I'll try to give it a look today.

[2018-02-07 19:30] vovimayhem commented on #51
Agreed - see #64 :)

[2018-02-07 20:26] christophersansone commented on #65
@aarongough Hmm.  If I understand correctly, I'm not sure I agree.  You cannot pass `Actor` into an AMS serializer and have it work.  AMS requires the model to be a descendant of `ActiveModelSerializers::Model` (or IIRC, at the very least have a `read_attribute_for_serialization` method), and this is what AMS recommends.

It would not be fair to penalize `fast_jsonapi` by adding extra baggage that

[2018-02-07 20:42] aarongough commented on #65
@christophersansone I don't disagree at all that being able to serialize other objects is an advantage, but my impression is that the main use-case for `fast_jsonapi` is serializing `ActiveRecord` objects, so the benchmarks should represent that.

Also, if the speed gain comes from a place other than the library under test itself that should still be isolated and removed when we're specifically tr

[2018-02-07 21:47] shishirmk commented on #65
@aarongough We may need to clean up and remove the json string serialization performance tests altogether or make them information only. The gem controls only the ruby hash creation time, after that its just multi json and the chosen engine.

We could use the same models to ensure that we are doing a fairer comparison. Do you mind creating a separate rspec just for this?

Here's a write up about t

[2018-02-07 22:02] KelseyDH commented on #5
@christophersansone  So for a serializer with many attributes, the api would be:

[code]

versus a standard ActiveModel Serializer approach like:

[code]

[2018-02-07 22:08] christophersansone commented on #5
@KelseyDH Correct.  Yes, I've been trying to help out with #49 as well.  I think both approaches are valid and helpful.  The block syntax is ideal for small calculations and will be the most performant.  Having attribute methods is helpful as well, for backwards compatibility and for more complex calculations.  There are a lot of considerations to take into account with #49 though, and there is a

[2018-02-07 23:06] aarongough commented on #65
I don't have a strong opinion one way or the other, as unfortunately I will not be able to use `fast_jsonapi` for the project that I was evaluating it for due to the structure of responses we need...

However I do think that it's important that benchmarks are apples-to-apples as much as possible, especially in cases like this where a big part of the performance gain is coming from outside the code

[2018-02-08 01:08] christophersansone commented on #65
@aarongough But `ActiveModelSerializers::Model` != `ActiveRecord::Base`.

If we want to test performance of ActiveRecord models, they should descend from `ActiveRecord::Base`.  In theory, then we wouldn't even need different model classes... we could use the same model instances and pass them through each serializer.

[2018-02-08 01:53] aarongough commented on #65
@christophersansone ultimately it doesn't matter what the underlying model is, as long as it's the same across all benchmarks, that's the important thing.

[2018-02-08 03:12] shishirmk commented on #50
@maxime-d we are focusing on json api spec right now. There is lot of work to do. So we wont be able to get to it soon.

[2018-02-08 18:21] #11 closed

[2018-02-08 22:38] SumLare commented on #47
Trying to make it work right now, it's kinda related to #67. Should I wait for it to be merged first?

[2018-02-08 22:46] shishirmk commented on #47
@SumLare ya i think there are a lot of changes coming up so do you mind waiting a little bit. We are overwhelmed by the response and would love to add all the features that are part of the JSON:API spec.

Once some of the relevant pull requests are merge to dev go ahead and create one with all your changes.

[2018-02-08 22:54] SumLare commented on #47
@shishirmk yea sure looking forward to help you guys.

[2018-02-09 06:14] aeroyu opened #68 "hi，can support rails 3.2?"
hi，can support rails 3.2?

[2018-02-09 06:53] shishirmk commented on #68
I am sorry we don't have that on our plans right now.

[2018-02-09 15:42] FutoRicky commented on #68
@shishirmk Does it support rails 4.2? Or just rails 5?

[2018-02-09 16:16] christophersansone opened #71 "Proper separation between the serializer class vs. the serializer instance"
This issue is an extraction of the conversations in #49 and #67.

Right now, it is difficult to differentiate between what functionality belongs on the class and what belongs on the instance.  Currently they both kinda act as singletons.  It poses potential problems, currently and most notably when trying to implement AMS-style custom attribute methods, e.g.:

[code]

In what context is `name_with

[2018-02-09 16:44] vovimayhem opened #72 "Polymorphic associations and Serializer DSL"
After documenting #64, I felt a little odd about the `polymorphic` option I added to the `has_many` | `belongs_to` | `has_one` methods.

I think the `polymorphic` option describes an ORM feature (specially when working with relational databases) rather than an object serialization aspect.

Actually, I think the jsonapi spec doesn't even care if an association is polymorphic or not, as long as the

[2018-02-09 17:02] shishirmk commented on #72
@vovimayhem this feels like a more intuitive representation of polymorphic relationships in the serializer. Do you mind updating your implementation to use this representation?

[2018-02-09 17:23] vovimayhem opened #73 "Make `belongs_to` an alias of `has_one`"
Looking at the code, there's no real difference for an association being `belongs_to` and  `has_one`. Instead, is a source for problems (two places with the same code are two places you can forget to place a fix.. have you noticed the [default serializer is obtained differently?](https://github.com/Netflix/fast_jsonapi/blob/dev/lib/fast_jsonapi/object_serializer.rb#L188)). Both do the same thing,

[2018-02-09 17:27] vovimayhem commented on #72
Yes! I'll work it out

[2018-02-09 18:12] guilleiguaran commented on #68
Rails 4.2 will be supported in next release

[2018-02-09 19:06] vovimayhem commented on #72
@shishirmk On my first go, I broke the original usage, as lots of tests depends on the object having the `association_ids` method, so let me know if you guys are OK with this:

* Without the `record_type` option, the serialization core won't use the `task_ids` method to generate the associations hash, since there's no way to know which kind of records are involved, iterating over `record.tasks` in

[2018-02-09 21:15] christophersansone commented on #72
@vovimayhem Thanks for keeping at this!  My opinion is that this should be the supported syntax:

[code]

From there, there is a method whose sole job is to return the polymorphic record type, given an object, e.g.:

[code]

... and a method to memoize them...

[code]

This way, a developer can easily override `polymorphic_record_type_for` if the inferred polymorphic record types are incorrect.

I

[2018-02-09 22:49] vovimayhem commented on #72
@christophersansone I'd prefer to stay away from the `polymorphic` word in the DSL. "Polymorphic" only takes true meaning when dealing with an object-relational mapper (i.e. ActiveRecord), but means nothing for users using an object-document mapper instead (think mongoid), because nested documents can be (and will be) of any type!

Also, JSONAPI doesn't care if the association is polymorphic or no

[2018-02-09 22:55] vovimayhem commented on #72
...I'd also change `record_type` for just `type` if I had it my way :)

[2018-02-09 23:02] vovimayhem commented on #72
...BTW @christophersansone I like your example of Actor, awards and spouse for the test suite :) I'll bring the concept of "mechanophilia" in the test examples 👿

[2018-02-10 01:52] christophersansone commented on #72
@vovimayhem Got it, thanks for the thorough explanation.  I live in ActiveRecord world and am used to both AR's and AMS's `polymorphic: true`.  Inferring from the class name if not otherwise specified by `record_type` seems like the way to go.

[2018-02-10 02:29] shishirmk commented on #72
@vovimayhem I would have chosen just `type` instead of `record_type` but I am generally scared of using `type` as it can be a reserve word and cause some confusion.

[2018-02-10 02:33] shishirmk commented on #72
@vovimayhem I think when we release polymorphic models support it should really use `record_type` and not the `polymorphic` as the option. Are you planning to work on this change? If not I can take it up and try to implement it too.

[2018-02-10 02:43] shishirmk commented on #71
@christophersansone I like the idea of having a clear guideline about what goes into the serializer class and what goes into the serializer instance. I wonder if we can provide backward compatibility to the current way of doing things so that users of the gem can upgrade without changing things around a lot.

[2018-02-10 02:46] shishirmk commented on #73
@vovimayhem That is a very nice way to refactor some of the repetition we have in the code today. You are right as far JSON:API is concerned i don't think there is any distinction between belongs_to and has_one. I think we should work on this idea.

[2018-02-10 03:13] christophersansone commented on #71
@shishirmk Yeah I was thinking about the upgrade path too.  I think we can potentially offer backwards compatibility for the short-term and provide deprecation warnings.  But it seems like the sooner we implement this, the fewer people will have to change.

I'm thinking we wait until after next week's release so we don't hold it up, and then tackle this right afterwards.  Does that seem reasonable

[2018-02-10 06:09] shishirmk commented on #72
@vovimayhem can you share the performance numbers you see. Especially for the tests that are failing?

[2018-02-10 20:17] vovimayhem commented on #72
### Serializes 1 records 20.48 times faster than AMS
#### Serialize to JSON string
| AMS serializer | 32.52 ms |
| jsonapi-rb serializer | 0.17 ms |
| Fast serializer | 0.92 ms |

#### Serialize to Ruby Hash
| AMS serializer | 0.62 ms |
| jsonapi-rb serializer | 0.09 ms |
| Fast serializer | 0.21 ms |

### Serializes 25 records 16.22 times faster than AMS
#### Serialize to JSON string
| AMS serial

[2018-02-10 20:18] vovimayhem commented on #72
I've got an idea... I'll try it again

[2018-02-10 20:50] vovimayhem commented on #72
I'll do some stuff, then ask for forgiveness later :)

[2018-02-11 00:20] vovimayhem commented on #72
OK Got it this far. Some noteworthy changes:

* The serialization code doesn't assume the association is homogenous, unless you specify the `record_type: :some_type` with a `Symbol`. That's why I added the `record_type` configuration on the test serializers. This in effect renders the "Homogeneous Associations" optimization an "opt-in" option.

* The serialization code doesn't assume the `associat

[2018-02-11 04:05] shishirmk commented on #72
@vovimayhem Looking up record type of each object is cheap in the performance tests. These are already in memory. So no need to create these objects. I am not sure it will be the case in real world use cases. It would create so many unnecessary objects just because `record_type` is not specified. This makes me think we should add performance tests to cover this too.

I think we should not change t

[2018-02-11 21:38] christophersansone commented on #72
@shishirmk @vovimayhem Agreed that assuming homogenous is the proper default, as this is the most common and most performant.  If `record_type` is unspecified, it will infer the type by the relationship name. If `record_type` is declared as a symbol, it uses the specified value.  Both of those will be lightning fast.

For heterogeneous lists, providing a hash is a decent solution.  It will be perf

[2018-02-13 14:10] amrrbakry commented on #73
I think I can help with this. I will open a PR soon :+1:

[2018-02-13 15:19] cohei opened #78 "Mistakenly made issue"
Mistakenly made issue

[2018-02-13 15:37] vovimayhem commented on #72
I'd like to continue working ASAP, but this week looks pretty dense for me... I expect to be available in about 2 more days...

[2018-02-13 15:41] vovimayhem commented on #73
Hey
I've got a commit with that on another PR (Sorry!)

[2018-02-13 15:41] vovimayhem commented on #73
c5295e6

[2018-02-13 15:43] christophersansone commented on #72
Thanks @vovimayhem !  Having re-read my last comment, I think a Symbol, a Hash, and a Proc should be supported.  The Proc is nice because we are still in the middle of determining naming conventions and deciding which methods belong on the class vs. the instance.  We decided on a similar initial implementation for custom attributes for this same reason.

[2018-02-13 17:25] eprothro opened #79 "Serializer Inheritance doesn't copy attributes"
It's not clear that the following won't work as might be expected:

[code]
[code]

Workaround:

[code]

[2018-02-13 17:31] DEfusion commented on #79
This also got me too, I'm working around it right now but was going to look at getting it to work properly without hacks later.

[2018-02-13 18:41] amrrbakry commented on #73
No problem. Good work 👍

[2018-02-13 18:49] guilleiguaran commented on #79
I think we can fix this converting the attribute definitions in proper methods definitions (@shishirmk played with the idea in https://github.com/Netflix/fast_jsonapi/pull/67/files#diff-34088120ad9556cc6578b0c51b38c723R150)

I think we can discuss this as part of the broad architecture discussion that we are having in https://github.com/Netflix/fast_jsonapi/issues/71

[2018-02-14 02:53] NullVoxPopuli opened #80 "relationship type isn't plural when the resource type is."
example:

[code]

I'm working on a reproduction repo. will post results soon.

[2018-02-14 03:25] NullVoxPopuli opened #81 "Benchmarks are misleading. I get only 2.5x AMS, and only 1.05x jsonapi-rb"
I just did my own benchmarks, and I'm suuuuper open to others checking my work.
But this is what I got (using default settings):

### 1 User, 2 Posts, 2 Comments per Post. equiv: `GET /api/users/:id?include=posts`
##### iterations per second
[code]

##### memory allocation
[code]

that memory allocation is pretty good though. :-D

Here is the repo where I made the benchmark:
https://github.com/Nul

[2018-02-14 06:59] shishirmk commented on #81
@NullVoxPopuli  We have outlined the methodology and the reasoning of our benchmark tests in this [document](https://github.com/Netflix/fast_jsonapi/blob/master/performance_methodology.md). It outlines what tradeoffs we are making to get better performance.

I took a quick look at benchmark [repo linked](https://github.com/NullVoxPopuli/ruby-jsonapi-benchmarks) above. I noticed that you are serial

[2018-02-14 07:03] shishirmk commented on #80
When i ran the benchmark repo you have linked in #81 i also noticed that the type pluralization was not uniform across AMS, fast_jsonapi and jsonapi-rb. If you can reproduce the exact issue in a test that would be great!

[2018-02-14 11:19] NullVoxPopuli commented on #81
That's fair. The original benchmark was against flat lists -- good distinction.
I'd argue that testing relationships is a bit more of the 'common scenario'. It's interesting how much of a difference there is between having 1 primary resource, vs a list. For example, with 25 users including 20 posts each:

[code]

whereas my previous benchmarks were the equiv of `GET /api/users/:id?include=posts`

[2018-02-14 17:05] zkwentz commented on #81
Regarding this last point. I don't think it is that AMS is bad, rather it is not as performant. Furthermore, I think that's okay for it to not be as performant as an alternative that is optimized for performance. AMS is optimizing for something different, namely flexibility.

[2018-02-14 17:44] guilleiguaran commented on #81
Agree with @zkwentz, many of the decisions done in AMS in early days were done having as the main motivator the flexibility and seamless integration with ActiveModel/ActionController (this isn't achieved totally by the other alternatives at the moment). AMS supports many features that don't make sense to have when you are using only a single standard as JSON API.

For instance, you can write adapt

[2018-02-14 20:55] #81 closed

[2018-02-15 08:23] jankmet opened #82 "dynamic keys"
It's possible to serialize object/hash with dynamic keys?

[2018-02-15 08:46] jankmet opened #83 "jbuilder support"
I was wondering how can I use fast_jsonapi with jbuilder. I Probably need new adapter in multijson,
problem is that multijson is fast_jsonapi dependency. It's somehow possible?

[2018-02-15 13:51] guilleiguaran commented on #82
Can you provide an example to illustrate this better?

[2018-02-15 14:10] jankmet commented on #82
asset:
[code]
key1,key2,key3 are dynamic keys from attributes table (asset has many attributes)

[2018-02-15 16:16] franciscomxs commented on #55
👍

[2018-02-15 16:37] WtfJoke opened #84 "Customize JSON Target-Structure"
Hi there,

First thanks for your this awesome gem. :)

Is it somehow possible to customize the json structure from `#serialized_json` in order to have a different structure?

[code]

[2018-02-15 16:40] WtfJoke commented on #84
Ah... my bad. it was already asked on #50
Will close it.

[2018-02-15 16:40] #84 closed

[2018-02-16 15:06] christophersansone commented on #79
@eprothro Good catch!  These class instance variables such as `@attributes_to_serialize` are scoped to the class itself and pay no attention to the parent classes.  I tried a few things, narrowed it down to two possible implementations.

The first is straight from @eprothro's work above, where we initialize everything from the superclass to the descendant within the `inherited` method:

[code]

Th

[2018-02-16 15:44] eprothro commented on #79
Both LGTM.

I personally find the former example more idiomatic/clear since
  * We don't currently need `base_serializer` for any other reason after first `attributes_for_serialization` call.
  * The attribute inheritance is done _directly_ upon inheritance (`self.inherited`) instead of making the assumption that `attribute` is called _very soon after_ inheritance.

[2018-02-16 16:06] christophersansone commented on #79
Thanks @eprothro, sounds good.  Pretty much anything that has been set in the superclass will need to be migrated to the subclasses: attributes, relationships, key transformation, etc.  It could make `self.inherited` quite large over time, but you're right that everything would happen immediately, and all inherited properties are encapsulated in one method.

[2018-02-16 16:06] bloolizard opened #87 "Will this conflict with existing 'active_model_serializers' gem?"
Interested in using this gem.  Any conflict with having existing active_model_serializers in app already?

[2018-02-17 01:19] shishirmk commented on #87
It shouldn't when we were migrating AMS to fast_jsonapi. We had both in the codebase. We differentiated the serializers by creating separate folders for the two types of serializers

[2018-02-17 01:34] shishirmk commented on #82
Do you use Active Model Serializers for this today? If yes can you share an example serializer class where you would use this?

[2018-02-17 01:35] shishirmk commented on #83
in the next version multi_json is being removed as a dependency. Check out the `dev` branch.

[2018-02-17 03:19] bloolizard commented on #87
thnx! will try it out

[2018-02-17 22:18] #87 closed

[2018-02-17 22:18] #50 closed

[2018-02-19 11:54] jankmet commented on #83
do you think it's worth trying? any chance of performance boost?

[2018-02-19 12:19] jankmet commented on #82
No, we are using jbuilder. Serializer with 'attributes' property as hash would probably work,
but I'm not sure how is this hash serialized? Is this 'attributes' hash serialized with fast_jsonapi as well?
[code]
[code]

[2018-02-19 20:11] youroff commented on #71
I attempted to refactor `fast_jsonapi` because of this exact reason: I was confused with abstraction distribution across instance-class levels. But it turned out to be a complete rewrite, the result can be checked out here: https://github.com/youroff/alt_jsonapi

Core idea is that class is the place where serializer is configured and then using this configuration and `fields` and `include` params,

[2018-02-20 10:18] iSunRise commented on #41
@shishirmk Hey, thank you for the awesome gem. I tried this feature #45 and think that you should mention in the readme that `set_key_transform` method must be called before `attributes` otherwise it won't work.
I added `set_key_transform` to the bottom of my serializer and it took some time to realize why it doesn't work.

[2018-02-20 14:18] martndemus opened #91 "Allow includes to be strings"
Having a `Series` serializer with `has_many :episodes`

[code]

Throws an `ArgumentError`.

I would expect it to work, since includes are often pulled from a controller's params, which are always strings.

Having `.to_sym` the strings would also be a memory issue in Ruby before 2.2.

[2018-02-20 22:28] sjmog commented on #91
Local pull request created [here](https://github.com/sjmog/fast_jsonapi/pull/1) that seems to demonstrate this error.

[2018-02-20 22:47] djones opened #94 "No support for 'links' key, which optionally contains 'self', 'next', 'last' and 'related'"
Part of the JSON API is to support [links](http://jsonapi.org/format/#document-links) but it doesn't appear like there's any way to achieve this right now.

Sample output of this:

[code]

[2018-02-21 13:09] beauby commented on #44
I would expect `fast_jsonapi` to be faster than `jsonapi-rb` as it is more specialized, but a fair comparison would make `jsonapi-rb` use `Oj` as well for JSON serialization.

[2018-02-21 13:27] NullVoxPopuli commented on #44
@beauby I have some benchmarks here with different scenarios if you're curious: https://github.com/Netflix/fast_jsonapi/issues/81

Right now the biggest difference is relationship performance. (in favor of jsonapi-rb)

[2018-02-21 20:37] guilleiguaran commented on #44
Switching all the serializers to `FastJsonapi::MultiToJson.to_json`:

[code]

[2018-02-21 20:40] NullVoxPopuli commented on #44
@guilleiguaran do you have code for those benchmarks? they look fishy

[2018-02-21 20:51] guilleiguaran commented on #44
@NullVoxPopuli those are the benchmarks shipped with `fast_jsonapi`, see #96 for my changes.

[2018-02-21 20:53] NullVoxPopuli commented on #44
ah ok. cool. @guilleiguaran, there are more in-depth benchmarks here, if you want to play with those https://github.com/Netflix/fast_jsonapi/issues/81

[2018-02-23 07:37] whatdacode opened #98 "Uninitialized Constant on Namespaced Controller"
My serializer

[code]

My Controller
[code]

got this:

[code]
**but it's working well if calling it from console.**

was looked at this: https://github.com/Netflix/fast_jsonapi/issues/16
but it's different. CMIIW

[2018-02-24 04:32] aaronmallen opened #99 "Don't require a method called `cache_key` on the model"
Given the following model:
[code]

and the following serializer:
[code]

an error is raised when called with:
[code]

we need to add documentation that this is required for caching or we need to not require it, and I would prefer the later.  If cache_key is not defined we should assume a `cache_key` of the object name and id (in this case `"foo:#{object.id}"`).

[2018-02-24 04:35] aaronmallen opened #100 "Don't require id"
Currently, if a class that is being serialized does not have an attribute `id` an error `undefined method 'id'` is thrown.  IMO we should not have an opinion about what attributes are in the class at all.  This will allow for non-ActiveRecord classes to also be serialized.  At the very least, however, we should document that this is a required field.

[2018-02-24 18:26] whatdacode commented on #98
i don't know what's wrong before. I didn't make any changes, but magically it works well now  🤔

[2018-02-24 18:26] #98 closed

[2018-02-25 02:09] shishirmk commented on #100
id is a required key that needs to be there in a json-api response used to represent a resource
http://jsonapi.org/format/#document-top-level

Could you explain to me more about your usecase? is your id returned by a different method other than id?

[2018-02-25 02:13] shishirmk commented on #99
agree we need to make that explicit for now and not make that a requirement eventually

[2018-02-25 02:14] aaronmallen commented on #100
@shishirmk I'm a dumb and didn't really consider the json-api spec. Closing this.

[2018-02-25 02:14] #100 closed

[2018-02-25 11:03] vadimstroganov opened #101 "Selecting attributes in associations"
Hello!
Prompt, I can not understand, whether there is a possibility to select necessary attributes for the specified association?

[code]

[code]

Is it possible to do this?

[2018-02-26 10:28] pablocrivella opened #102 "Implement error object serializer"
http://jsonapi.org/format/#error-objects
http://jsonapi.org/examples/#error-objects

[2018-02-26 14:37] bf4 commented on #81
OT: @guilleiguaran Where's the capnproto adapter? I'd love to see it and hear your experience.

[2018-02-28 14:15] christophersansone commented on #35
@shishirmk We have a merged PR... should this issue be closed?

[2018-02-28 14:28] christophersansone commented on #71
@shishirmk I feel like we are starting to be blocked by the amount of divergence between `dev` and `master`.  I see there is a v1.1 milestone, but I'm wondering if we can help speed up development and issue resolution if we release a smaller version bump like `1.0.18`.  If there are no breaking changes between `dev` and `master`, can we do this?  If there are breaking changes, can we consider redu

[2018-02-28 16:28] shishirmk commented on #71
@christophersansone yes we are. I think we can release v1.1 with what we have in dev now. It is not ideal but i think it's a good next step. I would like to document some known issues before we do the release.

There is a minor breaking change hence i would like to bump it to `v1.1.0`. We dont support `use_hyphen` anymore. It is being replaced by key_transform.

@mrryanjohnston is testing  parts o

[2018-02-28 16:52] christophersansone commented on #71
@shishirmk Awesome, thanks.  If `use_hyphen` is the only breaking change, would it be better to deprecate it rather than remove it all together?  The implementation can just call the new key transform method and serve a deprecation warning.  It would be simple to do, and we can remove it in a future release that will have more significant breaking changes that we can't easily deprecate.

For upcom

[2018-02-28 22:30] CaioBianchi commented on #101
Same question here, but different issue...
I want to display data from a `has_many` relationship, but I'm only able to retrieve id and type.
Is this intentional behaviour?

[2018-03-01 14:01] devtoro opened #104 "has_many relationship serialization"
Hello everyone!

I recently started using fast_jsonapi in my rails API and I have to say that the performance improvement is amazing!

I just have a suggestion to make. At the moment, in order to serialise "has_many" relationships, the gem is looking for **relationship_model_name**_ids and queries on that. With active record serializers, it would be enough to have a method to fetch the relationshi

[2018-03-02 17:37] vemv opened #105 "Unclear if :relationships can be hydrated"
Hi!

Dunno if this is more of a concern of http://jsonapi.org/, but:

it is unclear whether the items contained in `:relationships` can/should have richer keys than just `id` and `type`.

`"relationships":{"foos":{"data":[{"id":"2","type":"foo"}]},"bars":{"data":[{"id":"8","type":"bar"}]}}`

When one sees this generated json, may wonder "can I have more fields there?"

I am aware that there's `inc

[2018-03-03 02:09] NickBeukema commented on #47
@SumLare is there anything you need assistance with in completing this? Currently working on a project that would benefit from this, and would love to help if needed.

[2018-03-03 12:42] SumLare commented on #47
@NickBeukema I’ll try to make it work by the end of this weekend, didn’t have time lately

[2018-03-03 19:27] devtoro commented on #105
This is the json-api "standard". Maybe you could try GraphQL for what you ask or you could send your data under the "included" key like so:

[code]

[2018-03-05 06:35] hidde-jan commented on #101
This isn't how you would fetch these fields according to the jsonapi spec (see http://jsonapi.org/format/#document-resource-object-relationships and http://jsonapi.org/format/#document-resource-object-linkage). You would fetch the fields of the relationship object by including it:

    GET /api/movies/232?include=owner

[2018-03-05 06:43] hidde-jan commented on #105
This is (kind of) a duplicate of https://github.com/Netflix/fast_jsonapi/issues/101, but with the inclusion of the request for sparse fieldsets. JSON API already has specified how apis should handle these things, with includes (http://jsonapi.org/format/#fetching-includes) and sparse fieldsets (http://jsonapi.org/format/#fetching-sparse-fieldsets).

Some more pointers to the JSON API docs in the r

[2018-03-05 11:19] Mohakjuneja opened #106 "Is it compatible with a project running Rails 4.2.3, Ruby 2.2.1 and Mongoid 5.1.0"
I get the following error on bundle update

[code]

[2018-03-05 12:18] neongrau commented on #106
You would need to upgrade to Rails (~> 5.0) first as ActiveSupport versions are tied to the Rails version you're running.

Short: no.

[2018-03-07 10:48] Fleick opened #107 "Merge/Inheritance of Serializers"
Is there any possibility to use attribute definitions of one Serializer in another?
Like i have:

class SimpleDataSerializer
  attributes :a, :b, :c
end

class FullDataSerializer
  attributes :a, :b, :c, :d, :e
end

#Scopes
scope :simple
...
scope full, -> do
  merge(x.simple).select(additionalData)
end

for many Objects. so it would be nice to include simple in full Serializer and avoid double wr

[2018-03-07 20:52] laertispappas commented on #106
@neongrau I wonder why Rails 4 is not supported?

[2018-03-07 20:58] guilleiguaran commented on #106
Rails 4.2 will be supported in the next release of the gem, meanwhile you can use dev branch from github:

[code]

[2018-03-07 21:19] laertispappas commented on #94
@shishirmk @djones Is anyone working on this? Can I give it a try?

[2018-03-07 21:25] laertispappas commented on #82
@jankmet So your models are as follows:

an assets has many attributes?
[code]

if so your schema should be something like this:
[code]
Which can be modeled with a `has_many`  relationship

[2018-03-07 21:42] laertispappas commented on #99
`cache_key` depends on AR models. How about relationships and `relation_id[s]` method? The client should implement them so i think it makes sense here to let the client implement the  `cache` key as well.

[2018-03-07 22:42] shishirmk commented on #71
Ya i agree lets just add support for `use_hyphen` and we can just release 1.0.18

[2018-03-07 22:47] shishirmk commented on #94
@laertispappas go for it. Give it a try. Just make sure you branch of `dev`

[2018-03-07 22:53] djones commented on #94
I'm not working on it @laertispappas. Would ❤️❤️❤️ to see this shipped though.

[2018-03-08 08:11] laertispappas commented on #106
I see thanks

[2018-03-08 08:12] laertispappas commented on #94
Great then will prepare one PR this weekend. Thanks :)

[2018-03-09 16:49] gsaks123 opened #108 "Allow custom method or scope for includes"
I think this suggestion is distinct from #47, but it's similar and could possibly be developed at the same time, if others agree and would find this valuable. Alternatively, if there is already a solution to this that would be even better 😄

Scenario is as follows. This is for boxing/UFC fights where there are two athletes (fighters) in each bout, and many bouts in an event.

**Serializers:**
[cod

[2018-03-11 08:06] Ranhiru opened #113 "How to override the id attribute ?"
According to the JSON API specifications there must be an `id` field. But I do not want to expose the `id` column of my DB and I have a `friendly_id` column (which is unique as well).

How do I instruct fast_jsonapi to use my `friendly_id` column instead ?

[2018-03-11 08:40] axsuul commented on #113
https://github.com/Netflix/fast_jsonapi/pull/54 enables you to render custom attributes and was recently merged in.

You can point your `Gemfile` to the `dev` branch of this repo to use it.

[2018-03-12 04:13] kapso opened #115 "Is this a drop in replacement for active_model_serializers?"
Coz the serializer (see below) is not working and I get this error - `NoMethodError (undefined method `order_date' for #<Order:0x00007fb6b78c4748>)`

active_model_serializers does allow you to attach attributes to local methods, looks like this gem does not allow this?

[code]

[2018-03-12 07:48] citizen428 commented on #115
#54 Adds a way to define custom attributes via a block, but there's been no gem release since this PR got merged.

[2018-03-13 00:18] shishirmk commented on #115
It is not a drop in replacement for AMS. However it is very similar to AMS so it should be easy to migrate. However note that fast_jsonapi only serializes to json:api spec

[2018-03-13 00:20] shishirmk commented on #113
This is not supported today. It should be relatively small change to the code are you willing to make a pull request?

[2018-03-13 00:52] kapso commented on #115
@citizen428 any plans of doing it via a method. Block is nice, but a method has its advantages - mixins, inheritance to extend behavior.

[2018-03-13 02:10] shuheiktgw opened #118 "fast_jsonapi may not as fast as it is expected to be in a real Rails environment?"
Hi, thank you so much for creating such a great project and I'm really excited to be able to serialize json faster.

I just took a benchmark in a sample Rails application and it turned out that fast_jsonapi may not as fast as it is expected to be compared to AMS in this case... I created `Company has many employees` relationship with ActiveRecord and took benchmarks both for ActiveModel::Serialize

[2018-03-13 05:40] shishirmk commented on #118
@shuheiktgw Thank you for all the pull requests you have made. I just merged them all. I have to look into your example to understand how you get the numbers above. However I can confirm that we use this in production and it has reduced our serialization time to almost nothing. Which in turn made the endpoint around 40 percent faster.

In the mean time to understand more about how we measure and w

[2018-03-13 06:28] citizen428 commented on #115
@kapso I don't know, I'm not a developer on this project, I just recently had the same question. There were alternative PRs but to the best of my knowledge none of them got merged yet.

[2018-03-13 09:00] kapso commented on #115
@citizen428 thanks for the clarification.

@shishirmk any chances of merging changes that use a method instead of attribute block?

[2018-03-13 15:07] guilleiguaran commented on #115
@kapso we will resume the discussion about custom methods and what's the best for implementing it after of 1.1.0 release 😊

[2018-03-13 16:28] kapso commented on #115
@guilleiguaran got it, thanks. Whats the timeline for `1.1.0` release?

[2018-03-13 20:07] haizop opened #120 "1.1.0 release?"
Is there a schedule for the 1.1.0 release?

Apologies if this is an inappropriate use of an issue. I am eager to use this gem, and currently stuck waiting for custom attribute blocks added in [PR 54](https://github.com/Netflix/fast_jsonapi/pull/54).

Is there anything I can do to help move the release forward?

[2018-03-13 20:30] dks17 opened #121 "ActiveRecord::ConnectionNotEstablished when ActiveRecord isn't required in a project"
I use mongoid v6.4 and rails v5.2.0.rc1 with no ActiveRecord.
config/application.rb
[code]
The error raises while tests are passing:
[code]
I think the problem in [there](https://github.com/Netflix/fast_jsonapi/blob/7e59446717b0018f46c0d73a59e915acc15930b6/lib/extensions/has_one.rb#L3).

**Update1:**
Gemfile
[code]
**Update2:**
I have no activerecord gem in Gemfile. But have activerecord dependenc

[2018-03-14 01:19] shuheiktgw commented on #113
PRed! https://github.com/Netflix/fast_jsonapi/pull/122

[2018-03-14 01:45] gsaks123 commented on #121
This may already be fixed on the dev branch:
[https://github.com/Netflix/fast_jsonapi/blob/dev/lib/extensions/has_one.rb](https://github.com/Netflix/fast_jsonapi/blob/dev/lib/extensions/has_one.rb)

[2018-03-14 06:46] dks17 commented on #121
@gsaks123 I use `dev` branch of the gem. Please see updated  top comment.

[2018-03-15 06:06] shishirmk commented on #120
@haizop I am planning to release it this weekend. I will update the milestone info. The only things needed are backward compatibility for `use_hypen` feature that was part of the previous release.

[2018-03-15 13:47] haizop commented on #120
@shishirmk  - Excellent. Thanks for the update, and thank you for your work on this awesome gem.

[2018-03-15 13:51] tscolari opened #124 "Fails when relation is not present: "undefined method `id' for nil:NilClass""
It seems that https://github.com/Netflix/fast_jsonapi/blob/7e59446717b0018f46c0d73a59e915acc15930b6/lib/extensions/has_one.rb#L12 gives you an error if the relation is not present (e.g. `relation_id == nil`) with

[code]

if you explicitly call that `relation_id` method from your code.

in this case `reader` is nil.
I'm not sure if I'm doing something wrong, since I couldn't find anyone else compl

[2018-03-15 14:04] tscolari commented on #124
I just realised the fix pointed in https://github.com/Netflix/fast_jsonapi/issues/121 will fix this.
Sorry!

[2018-03-15 14:04] #124 closed

[2018-03-15 14:09] mauricio3d commented on #124
Don't worry everything is gonna be right

El 15 mar. 2018 9:04 a. m., "Tiago Scolari" <notifications@github.com>
escribió:

I just realised the fix pointed in #121
<https://github.com/Netflix/fast_jsonapi/issues/121> will fix this.
Sorry!

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub
<https://github.com/Netflix/fast_jsonapi/iss

[2018-03-17 15:07] allanberry opened #126 "set_type on a per-record basis?"
Thanks for good software; FJA works well for me so far.

I'd like to use `set_type` on a per record basis when aggregating diverse record types in a single resource stream.  I delineated the issue on [this StackOverflow post](https://stackoverflow.com/q/49332715/652626), and then (belatedly) decided to read the FJA source.  I don't see a way to do it, hence the new feature request.

I'm not exactl

[2018-03-18 00:01] shishirmk commented on #126
For this version we only support serializing homogeneous arrays. We have optimized for that case as that is a common use case where we needed performance gains. We might have to re-architect some parts of the gem if we want to support this.

[2018-03-18 17:09] shishirmk commented on #35
Fixed in Version 1.1.0

[2018-03-18 17:09] #35 closed

[2018-03-18 17:09] shishirmk commented on #44
Released as a part of version 1.1.0

[2018-03-18 17:09] #44 closed

[2018-03-18 17:10] shishirmk commented on #37
Released as a part of version 1.1.0

[2018-03-18 17:10] #37 closed

[2018-03-18 17:10] shishirmk commented on #120
Released as a part of version 1.1.0

[2018-03-18 17:10] #120 closed

[2018-03-18 17:11] shishirmk commented on #91
Released as a part of version 1.1.0

[2018-03-18 17:11] #91 closed

[2018-03-18 17:11] shishirmk commented on #41
Released as a part of version 1.1.0

[2018-03-18 17:11] #41 closed

[2018-03-18 17:11] shishirmk commented on #5
Released as a part of version 1.1.0

[2018-03-18 17:11] #5 closed

[2018-03-18 17:12] shishirmk commented on #7
Released as a part of version 1.1.0

[2018-03-18 17:12] #7 closed

[2018-03-18 17:12] shishirmk commented on #22
Released as a part of version 1.1.0

[2018-03-18 17:12] #22 closed

[2018-03-18 17:13] shishirmk commented on #113
Released as a part of version 1.1.0

[2018-03-18 17:13] #113 closed

[2018-03-18 17:22] guilleiguaran commented on #68
1.1 is released, this can be closed

[2018-03-18 17:22] guilleiguaran commented on #106
1.1 is released, this can be closed

[2018-03-18 18:05] christophersansone commented on #118
@shuheiktgw Thanks for helping us verify the performance results.  I just did a quick glance at the example and noticed a couple possible discrepancies.

1. Is AMS configured to use the JSON:API serializer?  I did not see anything that set it as such (though I may have missed it).

2. I see that you are serializing the `has_many` relationship for FJA, but not AMS.  Is that correct?

As a result, i

[2018-03-18 18:10] christophersansone commented on #71
@shishirmk Thanks for getting 1.1 out the door!  It seems like this is probably the next big blocker to address before some of the other features can be implemented, right?  Want me to give this a shot this week?

[2018-03-18 18:25] allanberry commented on #126
Thank you for the confirmation; I suspected as much. Much obliged.

Looking forward to 2.0! :)

[2018-03-18 22:13] #106 closed

[2018-03-18 22:16] shishirmk commented on #101
@hidde-jan  has answered the question. I am going to close this issue as includes are supported and we already have sparse field set support in an open issue

[2018-03-18 22:16] #101 closed

[2018-03-18 22:19] shishirmk commented on #105
The request is not supported by jsonapi standard as @hidde-jan has answered. A combination of includes and sparse fieldsets should provide similar functionality. Includes is supported by not sparse fieldsets.

Closing as sparse field sets are already captured as an enhancement

[2018-03-18 22:19] #105 closed

[2018-03-18 22:21] shishirmk commented on #118
Thanks for taking a look @christophersansone. @shuheiktgw let me know what you think about the above comments

[2018-03-18 22:24] shishirmk commented on #83
I am not sure if we an use fast_jsonapi in jbuilder right now. It is something we built to be similar to AMS but focused on [jsonapi](http://jsonapi.org/) standard. Since it's focused it faster than AMS.

I am not sure if it could be even used with jbuilder.

[2018-03-18 22:24] #83 closed

[2018-03-18 22:28] shishirmk commented on #115
@kapso `1.1.0` has been released. Closing this as the question is answered. There is a separate open issue and pull request for supporting custom attributes through methods instead of block so i am going to close this issue.

[2018-03-18 22:28] #115 closed

[2018-03-18 22:28] #68 closed

[2018-03-18 22:33] shishirmk commented on #107
@Fleick You could create a separate module/concern and put the shared attribute definitions in the included do block of such a module.

[code]

[2018-03-18 22:43] shishirmk commented on #104
@devtoro we always look for **relationship_model_name_ids**(movie_ids) first as it is an optimization mechanism. It is common to just serialize only the ids unless the relationship is in the includes list. This saves unnecessary fetching of objects and object creation.

Looks like in your case you are saying if the **relationship_model_name_ids**(movie_ids)  method doesn't exist then instead of th

[2018-03-18 22:46] shishirmk commented on #99
@aaronmallen Would you like to update the documentation for this?

[2018-03-18 22:50] shishirmk commented on #82
@laertispappas it would be better but it seems to be really tricky to do give our current design. Look at the discussion in #49

[2018-03-18 22:52] shishirmk commented on #82
@jankmet I am closing this right now as dynamic keys is not really part of [json:api](http://jsonapi.org/) standard. We need to know all attribute and relationship keys ahead of time in order to support features like sparse field sets and includes.

[2018-03-18 22:52] #82 closed

[2018-03-18 22:57] shishirmk commented on #78
@cohei I cannot read Japanese. So I tried using google translate to understand your question. The translation was very bad and I dont think i understood your question. Here is the translation i got.

[code]

[2018-03-18 23:05] shishirmk commented on #79
@christophersansone @eprothro I also like the former approach. I think it would be good to fix this issue now since  version `1.1.0` is released and we can make a patch release with this fix.

It would be great if one of you made a pull request as you have faced the issue first hand

[2018-03-18 23:07] shishirmk commented on #71
@christophersansone ya i think after we address #79. This would be a good thing to to tackle.

[2018-03-18 23:13] shishirmk commented on #108
@gsaks123 we have the ability to customize the `object_method_name` and `id_method_name` for a has_many relationship. Here is the documentation https://github.com/Netflix/fast_jsonapi#customizable-options. Have you considered you these options?

[2018-03-18 23:17] guilleiguaran commented on #83
AMS can't be used with jbuilder either, they're mutually exclusive libraries.

If you want to support JSON API standard in jbuilder take a look to this: https://github.com/vladfaust/jbuilder-json_api

[2018-03-18 23:17] shishirmk commented on #51
This is still an issue after the release of version `1.1.0` so i think we need to tackle this and ensure that performance tests are stable and stop failing erratically

[2018-03-18 23:21] shishirmk commented on #80
Closing as jsonapi doesn't specify anything about pluralization of of relationship type. Here is the link http://jsonapi.org/format/#document-resource-identifier-objects to the description.

If this is reported again and all the libraries follow a certain convention then happy to mark it as a bug and we can then work on fixing it.

[2018-03-18 23:21] #80 closed

[2018-03-18 23:25] shishirmk commented on #102
@pablocrivella even in those links jsonapi is very vague about what error objects needed to look like almost every attribute is a **MAY have**. I would appreciate ideas on what the developer interface should be for specifying error objects?

[2018-03-18 23:29] shishirmk commented on #65
While I dont think that it is causing huge discrepancies in performance numbers. I agree with the above comment of @aarongough. In order to get the same underlying model for all tests we should refactor the `movie context` and `ams_movie context` files so they are defining serializers to one set of underlying classes.

[2018-03-18 23:53] shishirmk commented on #124
@tscolari can you help test #121 so that i can merge it in?

[2018-03-19 00:01] cohei commented on #78
@shishirmk
Sorry, I mistook this repository for our repository and mistakenly made this issue. Please forget about it.

[2018-03-19 00:01] #78 closed

[2018-03-19 05:44] shishirmk commented on #60
@LeGuit I cant find the `src` attribute being described in [jsonapi](http://jsonapi.org/format/#document-resource-identifier-objects) spec. It is being used an example but I am not sure if it is part of the spec.

The links feature has just landed in the `dev` branch let me know if that works for you.

[2018-03-19 06:03] shishirmk commented on #94
@djones @laertispappas links support is merged into `dev` branch. Please give it a try and let me know if it works for you too.

[2018-03-19 07:09] GarrisonD opened #129 "LoadError (cannot load such file -- yajl)"
Hello, guys!

I upgraded `fast_jsonapi` gem to the latest version that was released recently (v1.1) and didn't update anything else. As a result I have such error:

`LoadError (cannot load such file -- yajl)`

[2018-03-19 07:12] GarrisonD commented on #129
As far as I understand, the error is here: https://github.com/Netflix/fast_jsonapi/blob/cf86cd871ecfe411d9c0fb22c85212b516a22138/lib/fast_jsonapi/multi_to_json.rb#L52

[2018-03-19 08:26] zabodaevmm commented on #129
+
switching to 1.0.17 not to reproduce this error

[2018-03-19 08:28] GarrisonD commented on #129
@zabodaevmm yeah, it's a workaround - but i like only solutions 😉

[2018-03-19 08:42] LeGuit commented on #60
Hey,

You have `src` in Post request as in
http://jsonapi.org/format/#crud-creating
Actually in the link you've send, it should be the presence of self. This way you can explore the API with those links.

[2018-03-19 09:00] GarrisonD commented on #129
If someone else run into this trouble and #130 is not still merged, then you can manually add `oj` gem to your project dependencies and enjoy features from `fast_jsonapi-v1.1`!

[2018-03-19 09:48] tscolari commented on #121
Replaying to @shishirmk from #124:
I can confirm that the problem I found in #124 was resolved by the `dev` version of the gem.
But because I was just spiking replacing AMS with this gem, unfortunately I'm not sure if there were any regressions :(

[2018-03-19 09:49] tscolari commented on #124
@shishirmk -> replied you in #121 ^^

[2018-03-19 18:36] djones commented on #94
Thanks for the ping @shishirmk. I'll try it out today and report back.

[2018-03-19 19:59] shishirmk commented on #129
Looks like this needs to be a hot fix. @GarrisonD thank you for creating a pull request. I will look into and merge it as soon as i get a chance.

[2018-03-19 20:20] shishirmk commented on #129
just released 1.1.1 with the above changes

[2018-03-19 20:30] GarrisonD commented on #129
@shishirmk it's great news! thank you a lot!

[2018-03-20 17:26] gsaks123 commented on #108
@shishirmk Wow, I completely missed this. Yes, this is exactly the functionality I need.  Not only does the object_method_name scope the "relationships" payload, but it also applies (critically) to the  "included" payload. Perfect!

Thanks for your work on this gem.

[2018-03-20 17:26] #108 closed

[2018-03-20 17:36] #129 closed

[2018-03-20 18:30] shishirmk commented on #121
if this is no more an issue I would like to close this @dks17 can you confirm that this is fixed with the latest version of the gem?

[2018-03-21 00:07] djones commented on #94
This is good progress, thanks for the PR @onumossn.

#117 allows you to have `links` outside of `data`. This is often used for pagination. But it's missing the ability to add `links` inside `data`. Here's what I mean...

![links](https://user-images.githubusercontent.com/2478/37689241-14a0d7e2-2c61-11e8-84d4-45b1d7f1aa69.png)

(the example JSON is pulled from the http://jsonapi.org homepage)

So I

[2018-03-21 01:07] bf4 commented on #129
@GarrisonD sorry about that. I wrote that bug :)

[2018-03-21 09:02] dks17 commented on #121
@shishirmk the error still present.
I created a new test rails application and pushed it on [dks17/fast_jsonapi_mongoid](https://github.com/dks17/fast_jsonapi_mongoid) with last `fast_jsonapi` gem. Please see `readme` where are steps to reproducing the issue. Now anyone can see for themselves that the error still present.

[2018-03-22 09:56] martndemus opened #135 "Regression: Date/Time is no longer serialized as ISO8601"
I upgraded from 1.0.17 to 1.1.1 and somewhere (likely #58) the way date/timestamps are serialized regressed from being ISO8601 strings to simple time strings. Luckily my serializer specs caught it.

[code]

[2018-03-22 12:07] nneal opened #136 "RubyGems not reporting correct date for releases"
https://rubygems.org/gems/fast_jsonapi

I was looking at recent versions and trying to see which new versions have been released but RubyGems  is saying "Feb 1" for all versions. Maybe it's there issue or maybe it's yours. Just thought I'd point it out

[2018-03-22 16:01] bf4 commented on #135
The change

[code]

should used the same oj configs as multijson, as well as for the other json gems.  I'm guessing you don't have Oj installed and got bit by the bug fixed by https://github.com/Netflix/fast_jsonapi/pull/130

[2018-03-23 05:02] JohnBDonner opened #138 "define key_transform anywhere in serializer"
So after looking at https://github.com/Netflix/fast_jsonapi/issues/41#issuecomment-366931614 I noticed that we cannot call `set_key_transform` just anywhere in the serializer definition, but it must be called before defining attributes.

Unfortunately, I'd like to DRY up my serializers by inheriting all from an `ApplicationSerializer` and call `set_key_transform` there, but alas, it does not work.

[2018-03-23 05:38] fongfan999 commented on #138
Hi @JohnBDonner ,
Here is my workaround

[code]

[2018-03-23 14:27] jdongelmans opened #139 "Add #serialization_scope to enable context aware serialization"
Would it be nice to have the ability

https://github.com/rails-api/active_model_serializers/blob/0-10-stable/docs/general/serializers.md#scope

[2018-03-26 17:34] kevinsheffield opened #142 "Question - Create serializer named after association?"
Going to use the classes in the tests to describe my question.  A Movie has an Owner but that is of type User.  If you try to include the Owner relationship when serializing Movie, it tries to look for an OwnerSerializer instead of using UserSerializer.  Is this intended?

[2018-03-26 17:45] kevinsheffield commented on #142
Nevermind, answered my own question.  You can override what serializer by passing in the serializer much like record_type is passed.
`belongs_to :owner, record_type: :user, serializer: :User`

[2018-03-26 17:45] #142 closed

[2018-03-27 05:20] shishirmk commented on #136
@nneal Thank you for pointing it out. I am not sure how to fix it. If you come across a solution please share

[2018-03-27 05:45] shishirmk commented on #94
Thanks for your response @djones how do you specify those links today? Can you share a sample serializer?

[2018-03-27 06:06] bf4 commented on #135
@shishirmk IIRC, the bug fixed by #130 only affected installs lacking Oj. Perhaps I'm wrong about that. In any case it should be pretty easy to debug what's going on by

[code]

Another possibility is that it's using  `%(::ActiveSupport::JSON.encode(object))` which wasn't part of the MultiJSON cascade.

It would be easier to reproduce and debug in discussion with @martndemus which is why I offered

[2018-03-27 14:04] Cakirucho commented on #121
+1, i have the same issue using MongoID trying to run `tests`.

[2018-03-27 14:43] dks17 commented on #121
@Cakirucho, clone `master` branch and pull #123. Or override it manually in your local gem folder.

[2018-03-28 11:58] martndemus commented on #135
Adding OJ as dep did fix it. So I guess that's what's happening. Would adding OJ by default make sense to keep backwards compat?

[2018-03-28 15:39] JohnBDonner commented on #138
Hey @fongfan999, thanks for the workaround! It works great!

[2018-03-28 15:39] #138 closed

[2018-03-28 16:10] bf4 commented on #135
@martndemus OJ depends on CRuby.  did you try debugging the code as I suggested? I think if you were to `bundle open fast_jsonapi` and comment out the active support line, you'd get your original behavior.

[2018-03-28 18:28] jshow commented on #47
I'd love to help as well - this is the main blocker to replacing AMS and basking in the velocity of fast_jsonapi

[2018-03-28 18:49] nneal commented on #136
I believe you should remove this line:
https://github.com/Netflix/fast_jsonapi/blob/master/fast_jsonapi.gemspec#L9

[2018-03-29 14:33] Phathdt opened #145 "Add scope current_user like devise to check condition"
Would you mind if have option/scope for current_user to check condition and render ?
example we have model User with attribute name, age, dob, secret_key
then we check current user
if current user is normal => just render name, age, dob
if current user is admin => render name, age, dob, secret_key
and condition we can use some gem like rolify, pundit
any one know that?

[2018-03-29 22:04] cathykc opened #146 "`object_method_name` on `has_one` still trying to find `id`"
Hi!

Let me know if this is not the right forum for asking questions - happy to repost somewhere else.

1. I have three models, `A`, `B`, and `C`.
2. `A` has_one `B`
3. `B` has_one `C`

I want to serialize `A` with `C` directly.

Here's what I am doing currently:
1. Creating a helper on `A`
[code]
2. using `has_one` in `A` serializer with `object_method_name`
[code]

Though I've defined the helper

[2018-03-29 23:58] shishirmk commented on #145
fast_jsonapi doesn't have this functionality today of scopes. We would need to build it. Similar issue discussed in #139

[2018-03-30 00:05] shishirmk commented on #146
@cathykc you would need two helper methods one for the id_method_name and other other one for object_method_name. If you are following convention you dont need to specify object_method_name and id_method_name.

define 2 helpers

[code]

Add this line in the serializer

[code]
We tend to just get the id wherever we can. This will helps in most cases as objects wont have to created just to get the i

[2018-03-30 00:06] shishirmk commented on #136
Will try that soon.

[2018-03-30 00:09] shishirmk commented on #47
@jshow @SumLare @NickBeukema i think this would be a good time to attack this problem. Have any of you started working on it?

[2018-03-30 00:14] cathykc commented on #146
A lil ugly but necessity understood @shishirmk thanks!

[2018-03-30 00:17] #146 closed

[2018-03-30 00:17] #99 closed

[2018-03-30 00:19] shishirmk commented on #118
@shuheiktgw Were you able to see the performance difference after making changes based on @christophersansone 's comment?

[2018-03-30 00:31] shishirmk commented on #139
@jdongelmans as a workaround you could put this logic in the model and it would work as expected

[2018-03-30 21:32] JasdipChauhan opened #148 "Way to pass in options for serialization"
I'm looking to pass in conditions into a serializer to determine what kind of attribute it will return.

What I'm looking for:
`UserSerializer.new(model, {use_token: true})`

and then in the serializer I can pull these options like so:
`attribute :name do |object, options|
       return object.token if options[:use_token].present?
end`

I'm not sure if this piece of code in the docs already answer

[2018-04-01 13:10] shuheiktgw commented on #104
PRed! https://github.com/Netflix/fast_jsonapi/pull/151

[2018-04-01 19:58] shishirmk commented on #148
@JasdipChauhan we don't have such a feature today. #139 also needs a similar feature. There is a pull request to address #139 in #150. You may want to bring up generalizing #150

[2018-04-01 19:58] #145 closed

[2018-04-01 19:59] shishirmk commented on #148
@christophersansone Any ideas on how we should implement this in the block custom attributes that we have today?

[2018-04-03 01:09] christophersansone commented on #148
@shishirmk Sorry I've been missing in action, been totally swamped, really want to do the refactor here soon.  This would be possible as designed, we would just have to store the entire `options` hash as an instance variable to allow user-defined keys to be specified and made available during the process, and then curry the options through to the `attributes_hash` method.

I'd probably like to fir

[2018-04-03 15:14] neongrau commented on #135
Having the same issue. But added to that when i installed OJ, serialization times doubled.
Which was due to OJ not being set for rails_optimize. But then can't activate Rails optimizations as OJ (3.5) segfaults with that when encountering Time objects before 1970. So i have either wrongly formatted date strings in the JSON output, horribly slow serialization or a segfaulting ruby.

[2018-04-03 20:28] djones commented on #94
Sure!

[code]

[code]

We're currently using https://github.com/fotinakis/jsonapi-serializers

There's some docs under customization https://github.com/fotinakis/jsonapi-serializers#more-customizations about `self_link`, `relationship_self_link` and `relationship_related_link`.

[2018-04-03 20:56] jshow commented on #47
@shailesh33 , I've put together a PR for discussion

https://github.com/Netflix/fast_jsonapi/pull/152

[2018-04-03 21:58] bf4 commented on #135
Just putting it out there again, I'll pair with anyone who can reproduce this.  http://www.benjaminfleischer.com/pair/ or if you can make a test repo I'll look at it.

[2018-04-04 10:14] shuheiktgw commented on #118
@christophersansone @shishirmk
Thank you so much for your comments!
I will make some changes based on the your suggestions and see the results!

[2018-04-05 00:53] mhluska opened #154 "Includes seems to cause N + 1 query"
With active_model_serializers, I get:

[code]

With this library I get:
[code]

Here's how I used `active_model_serializers`:
[code]
Here's how I use this library in my controller:

[code]

Redacted serializers that I'm using:

[code]

I'm using v1.1.1

---

As a workaround, I'm doing this:

[code]

[2018-04-06 11:07] shuheiktgw commented on #118
Hi, I updated [my benchmark](https://github.com/shuheiktgw/benchmark_fast_jsonapi) in mainly following two ways.

1. Change to use json_api adaptor for AMS
2. Change to use `to_json ` for AMS not `as_json` since AMS returns hash if `as_json` is called.

Also, I took two patterns of benchmarks. One that AMS uses `json_api adaptor` and the one AMS uses `default adaptor`. The results are below.

###

[2018-04-07 00:38] shuheiktgw commented on #154
I think you might be able to avoid N+1 by preloading `profiles` like below...?

`render json: FastVideoSerializer.new(videos.preload(:profiles), scope: current_user, include: [:profile])`

[2018-04-07 01:01] shuheiktgw commented on #118
@christophersansone

Thank you so much for your comments! Of course!
Here are the outputs of one company, one employee of each serializers.

### FJA
[code]

### AMS with json_api adaptor

[code]

### AMS with default adaptor

[code]

[2018-04-07 05:31] mhluska commented on #154
@shuheiktgw I tried this but it didn't help if I recall correctly.

[2018-04-09 06:16] shishirmk commented on #154
@mhluska can you make a test case to show this? Generally we use the active record `includes` in our query to avoid N+1 queries https://apidock.com/rails/ActiveRecord/QueryMethods/includes

[2018-04-09 06:18] shishirmk commented on #118
Looks like the issue is resolved so closing this

[2018-04-09 06:18] #118 closed

[2018-04-09 08:29] emaillenin opened #159 "Known Clients to deserialize this format of API"
Are there any known libs in Java that can deserialize the JSON produce by this library? I have been using RABL before and serializing the data in flat structure with relationship attributes baked into the root object. Fast JSON API is producing output with the main object and the relationships separately like this:

[code]

Usually, I have seen APIs including the relationship data within the paren

[2018-04-09 11:06] Branksy opened #160 "Deep nested serialization"
Since upgrading to the latest gem version, my deep nested associations are not rendering as json.
For example, look at projects and employees:

[code]

My serializer looks like this:
[code]

If I add has_many :projects, then I get
[code]

Here I am only getting the id and type, with no other data. Why?
Also, is it possible to avoid using the JSON-API spec? I would much rather just have the associa

[2018-04-09 11:31] shuheiktgw commented on #160
First you need to define the relationships in your serializer like below,

[code]

Then if you want to include attributes of the relationships you defined, you need to call `include` explicitly.

[code]

Hope this is gonna work for you! 👍

[2018-04-09 11:41] Branksy commented on #160
Thank you, thats pretty much what I tried above with 'has_many :projects', but the data is not deeply nested. Or is that the intention with JSONAPI, never to deeply nest and to have to make several http calls (which I doubt) ?

[2018-04-09 11:58] Branksy commented on #160
The only way I can get nested attributes (despite using include:) is the following:

[code]
But surely there's a more elegant way than writing this out for every association?

[2018-04-09 14:32] ChrisHampel commented on #160
Part of the goal of JSON-API is to avoid duplicating data, as such, nesting is avoided as it is common for data to end up being repeated when nesting is used. This does this by listing every associated record once in the relationships object. By default, it will just include the type and id. If you want to have more than the id and type you would need to pass in the include option as Shuheiktgw sa

[2018-04-09 18:48] jshow commented on #94
`links` inside `data` is presently blocking me.

Anybody working on this ? else I'll take a look

[2018-04-09 21:04] jshow commented on #94
How does this look ? Links within Data

https://github.com/Netflix/fast_jsonapi/pull/161

[2018-04-09 22:12] djones commented on #94
Neat 👍

[2018-04-11 08:32] neongrau opened #163 "Optional has_one association"
I've noticed that when none is set on a record this causes an entry under relationships with

`"data": { "id": "0", ... }`

is this intentional?
Or is there a way to omit this as i surely don't have a record with a zero id?

[2018-04-12 02:06] mhluska opened #165 "Proc for association"
Is there any way to provide a proc for a `belongs_to` association? In `active_model_serializers`, I do:

[code]

In other words, I have a belongs to relationship through another model. In my case video belongs to sale belongs to buyer. But I want my client to think video belongs to sale.

Is there any way to do this in `fast_jsonapi`? As far as I can tell procs can only be used for attributes and

[2018-04-13 21:20] robdimarco opened #167 "Error being thrown when using a customer ActiveRecord select"
Pull request demonstrating the bug: https://github.com/Netflix/fast_jsonapi/pull/166

When trying to use the fast_jsonapi gem, we started getting an exception in unrelated `ActiveRecord` code like:

[code]

This error was only showing when we had required in the `fast_jsonapi` and was happening in code that was not doing JSON serialization.

The reason for the error was that we were making a call

[2018-04-15 08:24] shuheiktgw commented on #163
I tried to reproduce the behavior above, and change an object to return id nil, but I could not make it... FasJsonapi returns `nil` even when id is `nil`, so is there any possibility that the behavior you described above might be caused by another reason? 🤔

[2018-04-16 03:02] mhluska opened #170 "`include` option with custom has_many attribute name"
I have a serializer with the following relationship:

[code]

In my controller, I use the include option like so:

[code]

But it seems to be trying to use a non-existent serializer:

[code]

The serializer is called `OrderItemSerializer` but if I try to include `order_items` I get an error about an unknown has_many relationship because the relationship is named differently.

So is it possible to

[2018-04-16 03:14] mhluska commented on #170
I managed to solve this by adding an explicit `serializer` option:

[code]

It's very verbose but works.

[2018-04-16 03:14] #170 closed

[2018-04-16 20:49] mhluska commented on #160
@ChrisHampel the issue I'm finding is that the include option only works for top level relationships. I think this is what @Branksy is trying to get at.

[2018-04-16 21:07] jshow commented on #160
@mhluska @Branksy this PR brings nested includes https://github.com/Netflix/fast_jsonapi/pull/152

[2018-04-16 23:33] varkerkamachi opened #172 "Nested model attributes"
Hi team - I love the gem, definitely great speed. I'm struggling a little with the format of the output though, and it's probably something I'm doing wrong.
I'm building a Rails 5 json api, and am trying to get more attributes included on the nested models than just `id` and `type`. Passing the model using `include:` on the controller just throws errors for me.

Gem:
[code]

Controller (this works

[2018-04-17 16:19] alexmobo opened #173 "Tests fails when using mongoid"
https://github.com/Netflix/fast_jsonapi/blob/18d30f228e09ab4a2b304053d81b183a688e8871/lib/extensions/has_one.rb#L4

When someone uses `mongoid` ORM, the `require 'active_record'` doesn't let tests run crashing with the following error
[code]

I imagine this error is happening because of the requirement in that file. Don't you think, since that is an extension, the require should be made by the dev

[2018-04-17 16:29] alexmobo commented on #173
instead of the requirement
[code]

[2018-04-17 19:15] jshow commented on #126
We require such a general functionality to support polymorphic types

how does this look ?

[code]

[2018-04-18 12:25] aldreth commented on #159
Have you tried either of the suggestions here http://jsonapi.org/implementations/#client-libraries-java ?

[2018-04-18 12:27] aldreth commented on #172
I think you probably want https://github.com/Netflix/fast_jsonapi#compound-document

[2018-04-18 15:06] Cakirucho commented on #173
Take a look here #123

[2018-04-18 20:51] varkerkamachi commented on #172
Thanks @aldreth - appreciate that. It looks like what I'm trying to do indeed. Is there any other documentation available with examples of this compound document setup on the serializer end?
I did make the change you suggested, model & controller now look like:
[code]
but now I'm getting
[code]

I forked your repo and found the error but I'm not really understanding what the issue is. Is it necess

[2018-04-19 00:34] oniofchaos opened #175 "Automatic lookup within Rails controllers"
If I do something like `render json: model`, when I'm using AMS it automatically detects `ModelSerializer` but when I'm switching over to `fast_jsonapi` it doesn't seem to have that same magic. Am I messing something up or is that not a feature of this gem?

P.S. Overall love the gem and the philosophy, thanks for open sourcing this.

[2018-04-19 12:33] anirudh-dasu commented on #94
Any ETA on merging #161 ?

[2018-04-20 01:11] emaillenin commented on #159
That is what I'm looking for. Thanks!

[2018-04-20 01:11] #159 closed

[2018-04-20 07:32] kapso commented on #172
@varkerkamachi yes you need to define a `UserSerializer` with attributes for this to work.

Also I think it should be `options[:include] = [:user]` not `[:users]`

[2018-04-20 07:41] kapso commented on #172
Also is there a way to have `attributes` on the relationship objects instead of having to use `include` for attributes on nested objects?

[2018-04-20 08:44] kapso opened #176 "Nested object for include"
The following doesnt work?

[code]

Get this error -
[code]

[2018-04-20 11:44] shuheiktgw commented on #176
Right now I think fast_jsonapi does not handle nested relationships..., See https://github.com/Netflix/fast_jsonapi/issues/47 !

[2018-04-20 22:27] kapso commented on #176
Hmm ok, any timeline for this?

[2018-04-20 22:34] ankit8898 commented on #136
Should be fixed with #180 . Closing this one.

[2018-04-20 22:34] #136 closed

[2018-04-22 01:25] shishirmk commented on #176
@kapso that is a bit complicated to do in a performant way There is a pull request open #152. I like the approach used to send a list of nested includes to the serializer. Still thinking about performance impact and implementation details

[2018-04-22 01:30] shishirmk commented on #175
Yes this is not automatic yet. However #89 and other pull requests have made it a bit less verbose.

This should work

[code]

[2018-04-22 01:32] shishirmk commented on #173
This should be fixed in dev branch now as #123  has been merged. It will go out in the next version.

[2018-04-22 01:36] shishirmk commented on #172
@kapso @varkerkamachi This gem only serializes based on the [jsonapi](http://jsonapi.org/) spec. This spec is doesnt nesting other attributes other than id and type. As @kapso rightly pointed out you are supposed to use includes for that. This helps avoid duplication of the same data in your response.

Closing this bug as this is out of scope of the [jsonapi](http://jsonapi.org/) spec

[2018-04-22 01:36] #172 closed

[2018-04-22 01:37] shishirmk commented on #167
Replied to this issue in #166

Should be able to fix this issue with a hack for now

[code]

[2018-04-22 01:39] shishirmk commented on #165
Both these are enhancements we need to add. On second question there has been some progress and I am leaning towards merging #153

[2018-04-22 01:40] shishirmk commented on #163
Thanks for answering the question @shuheiktgw

[2018-04-22 01:49] shishirmk commented on #154
Here is generally how we write our activerecord query so that we avoid N + 1 queries

[code]

[2018-04-22 01:53] shishirmk commented on #126
@jshow polymorphic types are already supported in dev branch https://github.com/Netflix/fast_jsonapi/tree/dev#customizable-options

[2018-04-22 01:56] shishirmk commented on #94
Added my comments about #161 needs some work as it mixes two features.

[2018-04-22 01:57] shishirmk commented on #121
This issue should be fixed now as #123 is merged to dev. It will go out in the next version of the gem

[2018-04-22 02:11] kapso commented on #176
Sounds thanks for the reply and this gem.

For now, I have started using `jsonapi-rails` it has nested objects support. Will revisit this gem, once this support is added.

[2018-04-22 05:03] alexmobo commented on #173
Cool! Thanks!

[2018-04-22 15:08] gabskoro opened #182 "Set key transform doesn't transform record types in the included array"
I'm using `set_key_transform :camel_lower` and everything is transformed well except the record type in the included array :)

![](http://skoro-attachments.s3.amazonaws.com/gabrijel/127.0.0.13000apiv1testing_2018-04-22_17-06-37.png)

[2018-04-23 07:08] mathieujobin opened #183 "Base class serializer should be picked up for STI models"
my application use SingleTableInheritence models, and using ActiveModelSerialiser, the parent class serializer is automatically picked up. with fast_jsonapi, a default built-in serializer is used, and thus mine is ignored.

models:

[code]

my serializer was picked up with AMS but not this gem.

Thank you

[2018-04-23 07:22] mathieujobin opened #184 "serializer option to disable `data` and `attributes` scoping"
we'd like to switch from AMS to using `fast_jsonapi` but we can't customize the json output the way we need to.

our APIs are currently consumed, we can't just ask all api consumer to switch output format because we decided to use this gem.

fact is AMS let us output any json output we want while this gem is opinionated about the structured

we want to return simple structure such as

`{"a":"11002

[2018-04-23 10:36] shuheiktgw commented on #184
fast_jsonapi follows [JSON API](http://jsonapi.org/) format, and unfortunately I do not think you can change the format. However the good new is that AMS is not that slow compared with fast_jsonapi as long as you use default adaptor. See https://github.com/Netflix/fast_jsonapi/issues/118 👍

[2018-04-23 10:57] mathieujobin commented on #184
Ah

[2018-04-23 10:57] #184 closed

[2018-04-23 12:02] shuheiktgw commented on #182
What would happen if you would specify `serializer` option to relationships? For example, if you have a serializer like below, instead of defining relationship without serializer option

[code]

specify the serializer like blow.

[code]

Also, be aware that you need a serializer which explicitly defines set_key_transform.

[code]

Hope this would be of any help! 👍

[2018-04-23 21:07] mhluska commented on #165
@shishirmk what is the current way to hide relationships based on authorization? It seems to me that theres no way to actually use this in production right now because I can't hide sensitive data from an unauthorized user (for example, the list of videos a user bought in my case).

[2018-04-23 22:10] TrevorHinesley opened #185 "Custom attributes are not able to be optionally included"
See: #153 and https://github.com/Netflix/fast_jsonapi/pull/153#issuecomment-382505896

As seen in those references, there's no way to optionally include attributes. Preferably, the `scope` functionality that's about to be merged in from #153 could be involved in this. As @kyreeves mentioned, this is a commonly used piece of AMS, so it would be great to have.

[2018-04-24 21:41] willywg commented on #80
@shishirmk check this note on http://jsonapi.org/format/#document-resource-object-identification

I have the same problem, I declare type on my serializers on plural, but relationships forces this to singular.

[2018-04-24 22:59] kquet opened #187 "Cannot specify condition for attribute"
There does not seem to be a way to conditionally add attributes to the serialized object. There are cases where I do not want `nil` for the value, I simply no attribute. Is there no way to do the following:

[code]

[2018-04-26 05:26] shishirmk commented on #182
@gabskoro I am not sure why @shuheiktgw 's suggestion wouldn't work. Would you be able to add a failing test?

[2018-04-26 06:12] oniofchaos opened #189 "CodeClimate + Rubocop + Test Coverage"
Is there any opposition to adding CodeClimate, Rubocop, and Test Coverage metrics?

[2018-04-26 19:35] Branksy opened #191 "Conditional attributes in Serializer"
Say I have one UserSerializer.
How can I display a different set of attributes in the serializer depending on the context, e.g. show action v. index action, without creating two separate serializers?
Thanks.

[2018-04-27 04:27] shishirmk commented on #189
Go Ahead

[2018-04-27 04:28] #189 closed

[2018-04-28 01:12] shuheiktgw commented on #165
I just started to work on the first problem, enabling to use block to define relationship.

[2018-04-30 20:28] xrx opened #197 "FastJsonapi.MultiToJson.to_json_method throws an error if `logger` hasn't been required"
While testing the gem i ran into an issue by calling `#serialized_json`

[code]

Already submitted a small fix on #196.

[2018-05-01 04:33] alienxp03 commented on #191
Looking forward to this feature too. Related PR I supposed? https://github.com/Netflix/fast_jsonapi/pull/153

[2018-05-01 16:59] shishirmk commented on #197
Merged into dev branch

[2018-05-01 16:59] shishirmk commented on #191
#153 has been merged to dev

[2018-05-02 03:10] alienxp03 commented on #191
Awesome. Thanks @shishirmk

[2018-05-02 18:00] TrevorHinesley commented on #191
#153 does not include this functionality unfortunately. Right?

[2018-05-03 03:59] jnjcub opened #202 "Error require 'fast_jsonapi/instrumentation/skylight' in initializer."
require 'fast_jsonapi/instrumentation/skylight'  in initializer.

/gems/fast_jsonapi-1.1.1/lib/fast_jsonapi/instrumentation/skylight/normalizers/serializable_hash.rb:8:in `<module:Normalizers>': uninitialized constant FastJsonapi:
:Instrumentation::Skylight::Normalizers::Normalizer (NameError)

skylight-ruby version 1.5.1
Using rails 5.1

[2018-05-06 02:07] shishirmk commented on #183
@mathieujobin I was able to put together a pull request to make inheritance work as expected. #203  has the pull request for it

[2018-05-06 08:01] mathieujobin commented on #183
sounds good, thanks

[2018-05-06 08:01] #183 closed

[2018-05-07 22:48] JonathanJumper opened #204 "How to construct custom JSON"
Hey, I'm new to serializers, I have some models and  some relations within,

I'm trying to construct the json response but I don't know how to make it in the way I want (front end expects)

Here is what I've got so far in Offer json:
[code]

And this is what I want
[code]

[2018-05-08 03:41] zinosama commented on #204
This gem follows the json api (http://jsonapi.org/) standard, whereas your desired output format doesn't. I'd recommend writing your own serializer or using AMS (https://github.com/rails-api/active_model_serializers/tree/v0.10.6/docs).

[2018-05-09 02:46] #204 closed

[2018-05-09 23:28] oniofchaos commented on #189
For CodeClimate, it looks like the owner(s) of the repo/organization need to administer it - https://docs.codeclimate.com/docs/open-source-free

[2018-05-09 23:32] oniofchaos commented on #189
For test coverage, the two most user friendly ways that I know of are through CodeClimate or through Coveralls, which I think also needs an owner to set it up.

Rubocop can technically be added separately but if it's bundled with CodeClimate you get nice visual results of the issues.

TL;DR sounds like I'd need admin/owner rights to help out with the setup - totally understand if you want to handl

[2018-05-10 13:35] tommyalvarez commented on #53
For anyone else reaching here like i did... i ended up implementing the following serializer. It supports nested model errors indexed. Manually tested, no rspec, so no guarantees

[code]

[2018-05-11 15:00] ohbarye opened #209 "Senior Platform Engineer link in the README.md is broken."
I just found that [Senior Platform Engineer](https://jobs.netflix.com/jobs/865783) link in the README.md is broken. When I visit https://jobs.netflix.com/jobs/865783, it redirects me to https://jobs.netflix.com/search.

[2018-05-14 22:16] rromanchuk commented on #202
can confirm

[code]

[2018-05-14 22:47] hmcfletch commented on #202
Looks like the normalizers got moved in Skylight v1.5. Will need to do some checks against Skylight version.

I believe the work around would be to restrict Skylight to v1.4.x.

https://github.com/skylightio/skylight-ruby/commit/a49aa07878cba6223e17822e5e093b29e3717db1#diff-7f06462ac8c8f6b4138397d53ac152f6

[2018-05-15 00:14] guilleiguaran commented on #175
I have a PR to add this ready but I'm a bit concerned about causing conflicts with AMS (I imagine that there are projects using both libraries simultaneously)

WDYT about using:

[code]

To avoid conflicts with `json` renderer overrided by AMS?

[2018-05-15 00:28] oniofchaos commented on #175
That doesn't seem necessary, as I feel like it should use the model name to load the appropriate serializer and that serializer would define whether it's using AMS or fast_jsonapi via what it's inheriting from/what it includes.

One thought - are you're saying that people have a model being serialized by both gems in different controllers/actions?

[2018-05-15 00:45] guilleiguaran commented on #175
@oniofchaos AMS right now is overriding ActionController::Renderers internal private methods making a bit hard your proposal.

To use `:json` and keep the compatibility with AMS we will need to detect if AMS is in the project and override again the methods that it's overriding to make them aware of fast_jsonapi serializers and have another code path to override the default JSON renderer if AMS is

[2018-05-15 03:17] ankit8898 commented on #209
@ohbarye Ah! Thanks for bringing to attention. That position is closed but the other is open. Do you want to PR removing dead link? I will close this issue and will fix via PR.

[2018-05-15 03:17] #209 closed

[2018-05-15 03:39] ohbarye commented on #209
Yeah, I do!

[2018-05-16 00:14] TrevorHinesley commented on #7
Is Oj no longer needed? Should we be installing Oj separately? I'm a bit confused as to what the protocol is now.

[2018-05-16 00:52] philipqnguyen commented on #7
Looks like all you need to do now is have the oj gem installed. If it
detects that oj is installed it will automatically require and use it.

On Tue, May 15, 2018 at 5:14 PM Trevor Hinesley <notifications@github.com>
wrote:

--
*Philip Nguyen*
supertaru@gmail.com
eBay ID: ffmegaman
Skype ID: ffmegaman

[2018-05-17 00:28] rromanchuk opened #215 "Optional belongs_to association throws NoMethodError"
[code]

[code]

On a nil `bar_id` the serializer throws a fatal
`NoMethodError (undefined method `id' for nil:NilClass):`

[2018-05-18 16:45] alienxp03 opened #217 "Render without root key, id and type?"
- Is there a way to only render the attributes, without the root key `data`, `id`, and `type`?
- A way to define custom root key?

Instead of
[code]

I'm hoping to produce
[code]

One of my solution is to use a helper instead to get just the attributes
[code]

Also by doing this, I can provide my own root key because in some cases, the JSOn I'm returning is not an ActiveModel record

[2018-05-18 16:59] guilleiguaran commented on #217
Those things aren't supported out-of-box because they don't comply with [JSON:API spec](http://jsonapi.org/)

[2018-05-18 17:07] alienxp03 commented on #217
Thanks for clarifying that. Is there any plan to support multiple rendering options? For AMS, they're using the concept of different [adapters](https://github.com/rails-api/active_model_serializers/blob/v0.10.6/docs/general/adapters.md#built-in-adapters)

I'm currently using a different gem and thinking to give `fast_jsonapi` a try. Mostly due to its performance. But to rewrite it to JSON:API spec

[2018-05-20 20:15] shishirmk commented on #217
@alienxp03 there are no such plans in the near future

[2018-05-20 20:15] #217 closed

[2018-05-21 00:20] shishirmk commented on #215
This should be released in version 1.2 of the gem

[2018-05-21 00:20] #215 closed

[2018-05-21 00:20] shishirmk commented on #202
This should be released in version 1.2 of the gem

[2018-05-21 00:20] #202 closed

[2018-05-21 00:20] shishirmk commented on #197
This should be released in version 1.2 of the gem

[2018-05-21 00:20] #197 closed

[2018-05-21 00:22] #173 closed, assigned to nobody

[2018-05-21 00:23] #167 closed, assigned to nobody

[2018-05-21 00:25] shishirmk commented on #121
This should be released in version 1.2 of the gem

[2018-05-21 00:25] #121 closed

[2018-05-21 00:26] shishirmk commented on #107
Serializer inheritance should work as expected now. This is released in version 1.2 of the gem

[2018-05-21 00:26] #107 closed

[2018-05-21 00:27] shishirmk commented on #94
This should be released in version 1.2 of the gem

[2018-05-21 00:27] #94 closed

[2018-05-21 00:27] shishirmk commented on #73
This should be released in version 1.2 of the gem

[2018-05-21 00:27] #73 closed

[2018-05-21 00:29] shishirmk commented on #60
@LeGuit Ability to add `self` and similar links per record has been released in version 1.2

[2018-05-21 00:29] #60 closed

[2018-05-21 00:29] #55 closed

[2018-05-21 00:29] shishirmk commented on #47
This should be released in version 1.2 of the gem

[2018-05-21 00:29] #47 closed

[2018-05-21 00:30] shishirmk commented on #187
duplicate of #185

[2018-05-21 00:30] #187 closed

[2018-05-21 00:30] shishirmk commented on #191
Duplicate of #185

[2018-05-21 00:30] #191 closed

[2018-05-21 00:33] shishirmk commented on #79
This should be fixed for attributes, relationships, links etc. Try version 1.2 of the gem

[2018-05-21 00:33] #79 closed

[2018-05-21 00:36] shishirmk commented on #126
@allanberry We have added better support for inheritence in fast_jsonapi v1.2 Please try using it and see if it works for your STI usecase

[2018-05-21 00:39] shishirmk commented on #154
@mhluska did you try the above includes approach?

[2018-05-21 00:40] shishirmk commented on #182
@gabskoro is this an issue in the new version of the gem for you v1.2?

[2018-05-21 00:40] shishirmk commented on #21
This should be released in version 1.2 of the gem

[2018-05-21 00:40] #21 closed

[2018-05-21 00:44] shishirmk commented on #135
Closing as there is no response and we have released a new version of the gem v1.2

[2018-05-21 00:44] #135 closed

[2018-05-21 01:40] kapso commented on #176
Nice! will try it out.

[2018-05-21 01:53] kapso opened #223 "Inheritance support"
`OrderSerializer.new(order)` throws the following error -
[code]

Given the following classes -
[code]

[2018-05-21 02:02] shishirmk commented on #223
@kapso inside a block the serializer instance scope is not available but a the class scope is. So try making iso8601 a class method and then it should work

[2018-05-21 05:54] #223 closed

[2018-05-21 05:56] kapso commented on #176
Still getting an error, does it support deep nested objects?

[code]

Error -
[code]

[2018-05-21 06:20] shishirmk commented on #176
@kapso the syntax to provide the includes is different. Here is an example https://github.com/Netflix/fast_jsonapi#compound-document

[2018-05-21 17:11] stelmashchuk opened #225 "Lookup for STI models"
First of all thanks for the great gem)
I use Single Table Inheritance in my project.

[code]
[code]

AMS makes automatic lookup and returns JSON with items with different attributes(```title, description``` for ```PopModel```; ```title, duration``` for ```RockModel```).
Do you plan to add functionality like this? Thank you.

[2018-05-21 22:48] shishirmk commented on #225
@stelmashchuk we haven't worked on making the serializer work with heterogenous lists of models like the one you described above. It's not something we are looking into at the moment

[2018-05-22 07:14] stelmashchuk commented on #225
Thanks for answer

[2018-05-22 07:14] #225 closed

[2018-05-24 09:41] imadmoussa1 opened #227 "Questions about some features"
Hello,
I using the AMS gem, and  I am switching to Fast JSON api .
I have  some questions about those features :
1.  About the includes , with AMS i was using `include: '*'` and `include: '**'`
do you have something similar to it ?

2. Can we add meta in the serializer class ?
`meta do
    { message: "sucess", total_count: object.total_count }
  end`

3. Can we rename the attribute ?
`attribute :t

[2018-05-24 22:06] vkozyrev opened #228 "has_many N+1 due to relationships and fetch_multi support"
Suppose I have a `Candidate` object that is returned. This object `has_many :work_histories`.
When I `INDEX (GET candidates/`, something like the following is returned
[code]
Since we return `work_history ids` for 20 `Candidate` objects, my logs look like:
[code]

So with the above situation, I have a few questions:

* Since I am not actually including the `WorkHistory` objects, I don't really car

[2018-05-25 15:31] TrevorHinesley commented on #227
I don't know about the first two, but I believe for 3 you'd just:

[code]

[2018-05-27 16:34] trueinviso opened #229 "Sequel gem compatibility"
If an app is using the Sequel gem as their ORM adapter, a model instance will have `each` defined on it, for the purpose of iterating all values on that particular instance.

This will prevent the serialization of model instances when `FastJsonapi::ObjectSerializer` calls `is_collection?` [here](https://github.com/Netflix/fast_jsonapi/blob/master/lib/fast_jsonapi/object_serializer.rb#L84), from th

[2018-05-28 04:05] mhluska commented on #79
@shishirmk are there plans to make this work for `set_type`? I find I still have to declare `set_type` all the way down the inheritance chain.

[2018-05-31 15:28] jshow opened #231 "polymorphic: true is not implemented for nested includes"
https://github.com/Netflix/fast_jsonapi/blob/master/lib/fast_jsonapi/serialization_core.rb#L150

Can someone please help me understand what the challenge is here ?

I built nested includes, and have just moved to using the master branch - not sure why the raise is protecting ?

really need this.

thanks

[2018-05-31 23:38] shishirmk commented on #231
@jshow it didn't work in a test so i just added the NotImplementedError. I think the challenge might be to find the right serializer and call record_hash on it.

[2018-05-31 23:46] shishirmk commented on #228
No not really. there is nothing in the [jsonapi spec](http://jsonapi.org/) about showing has_many ids only if the records are included. However you could achieve something like this using the relationship block and passing in appropriate [params](https://github.com/Netflix/fast_jsonapi#params)

But that is how the spec works today. Again you could use the relationship block to define this relation

[2018-05-31 23:48] shishirmk commented on #227
do you have something similar to it ?

No we don't have this feature. Happy to assist if you would like to make pull request to support these features.

You should be able to pass anything to the meta has as shown [here](https://github.com/Netflix/fast_jsonapi#compound-document)

[2018-05-31 23:50] shishirmk commented on #182
Closing due to no response

[2018-05-31 23:50] #182 closed

[2018-05-31 23:52] shishirmk commented on #229
@trueinviso we can try size and see if tests fail. Go ahead and make a pull request if that works

[2018-05-31 23:53] shishirmk commented on #154
closing due to no response

[2018-05-31 23:53] #154 closed

[2018-06-01 07:11] imadmoussa1 commented on #227
@shishirmk Thank you , I will work on it .

[2018-06-01 08:04] Stehan19 opened #233 "Edit root name"
Good day how do i change the the default root name of "data" to something else. Because normal use of options[:root] = 'blah' does not work or even disabling it like "root: false" gets ignored

[2018-06-01 13:21] #233 closed

[2018-06-01 18:16] jshow commented on #231
thank you @shishirmk , I'll investigate

[2018-06-03 00:55] trueinviso commented on #229
PR #234

[2018-06-06 22:08] ababich opened #237 "`set_id` issue with included"
Picture simple relationship like this:
[code]

The problem is that `fast_jsonapi`to serialize A objects with B included will generate structure like this:
[code]

So that unless we specifically set `id_method_name` in relationship and implement it accordingly this makes no sense

I suggest to add additional checks to prevent this situation, i.e. have `included` ids not matching `relationships` ids

[2018-06-07 04:31] 1m-Arthur opened #238 "load attributes on relationships"
hello, i'm new comer on ruby. I am still learning some things about ruby.
I have response JSON data like this.
[code]
is it possible the data in "relationship" to be like this?

[code]

if that's possible. what should i do in serializer?

[2018-06-07 10:09] gonzaloaune opened #240 "Service unavailable in the jobs link :)"
Link: https://jobs.netflix.com/jobs/864893

[code]

[2018-06-07 16:54] vkozyrev commented on #228
Hey. I missed the part in the docs about being to use a block for relations. Thanks for pointing that out.

I'll follow up about fetch_multi in a separate issue after I look into it more.

[2018-06-07 16:54] #228 closed

[2018-06-07 17:13] yjukaku opened #241 "How does fast_jsonapi get so fast?"
Great work on this gem! I've read through the blog posts and the `performance_methodology` page, and it seems that a lot of the performance gains here are due to the fact that

1. fast_jsonapi is focused only on the json-api spec, so doesn't have to be flexible.
2. fast_jsonapi only allows for homogenous lists of items

However, I'm interested in knowing _how_ you were able to take advantage of th

[2018-06-07 20:28] LucasCioffi opened #242 "belongs_to :user doesn't show fields in the serializer"
Hello, great gem!

A user can have many designs.  In #user.rb: `has_many :designs` In design.rb `belongs_to :user`

I'm wondering why when I use `belongs_to :user, serializer: :user` I don't see the custom attributes specified in the UserSerializer (it returns ID and type only).

When I specifically call the UserSerializer as an attribute, the correct fields are visible.  You can see both used bel

[2018-06-10 15:40] feliperaul opened #244 "Question: generating JSON for react components: whats the point in using the gem if Rails `.to_json` is used for dumping"
Based on #89, it seems that the pattern to generate JSON for consuming in a react component is this:

`render json: WidgetSerializer.new(widget).serialized_hash`

Or, after #89 was merged, we can just pass the serializer instance to render :json, because all Rails does is calling `.as_jon`, which was aliased to `.serializable_hash` on #89.

But my question is: isn't the performance gains of this g

[2018-06-10 18:40] shishirmk commented on #244
JSON dumping is very fast <5ms for most normal payloads if you use OJ, Yajl etc. Generating the ruby hash is generally what takes a lot of time in AMS. We have optimized that by focusing on jsonapi.org schema and optimizing for homogeneous arrays.

[2018-06-10 18:41] shishirmk commented on #240
It was probably a temporary issue. It works now.

[2018-06-10 18:41] #240 closed

[2018-06-10 18:56] shishirmk commented on #241
We don't have a blogpost or anything going into the details of _how exactly_ the performance improvement was seen. There isn't one neat trick which resulted in the performance gains.  Here are some points of the top of my head that helped us improve the performance

- Caching the attribute definitions, relationship definitions, key transforms  etc makes serializing homogeneous lists faster.
- We d

[2018-06-10 19:02] shishirmk commented on #242
@LucasCioffi this gem only supports[ jsonapi.org](http://jsonapi.org/) json schema. The above serialization is not compliant with jsonapi.org json schema.

If you want other attributes of a relationship try to sideload them using [includes](http://jsonapi.org/format/#fetching-includes)

[2018-06-10 19:02] #242 closed

[2018-06-10 19:02] #241 closed

[2018-06-10 19:02] #244 closed

[2018-06-10 19:04] shishirmk commented on #238
@1m-Arthur the above serialization is not jsonapi.org schema compliant. This gem only supports[ jsonapi.org](http://jsonapi.org/) json schema. The above serialization is not compliant with jsonapi.org json schema.

If you want other attributes of a relationship try to sideload them using [includes](http://jsonapi.org/format/#fetching-includes)

[2018-06-10 19:04] #238 closed

[2018-06-10 19:06] shishirmk commented on #237
This is interesting. I believe this could be a bug. Do you mind writing a failing test to better capture this issue? I can try to fix it if you could do that.

[2018-06-11 00:06] feliperaul commented on #244
@shishirmk Thanks for the valuable insight.

[2018-06-11 02:58] feliperaul opened #245 "Bug: has_many with `id_method_name` returns only one object (instead of an array) and with the wrong ID"
This is very similar to #237, I think they might be related, so I'm going to use the same example.

Picture simple relationship like this:

[code]
As you can see, we have explicitly told it to use :custom_id as the foreign key for the has_many association. But the problem is when we run `ASerializer.new(instance_of_a, {include: [:bs]}).serializable_hash`, the generated hash is like this:

[code]

[2018-06-11 03:03] LucasCioffi commented on #242
Hello @shishirmk, thank you for your reply.

The question I have is about why `belongs_to :user, serializer: UserSerializer` doesn't seem to pick up the formatting specified in the `UserSerializer`.

For example, if the `DesignSerializer` looks like this:
[code]
and if the `UserSerializer` looks like this:
[code]
... then `DesignSerializer.new(Design.last).serialized_json` returns this (notice the

[2018-06-11 04:27] feliperaul commented on #245
I just confirmed it also happens with belongs_to: as well.

If it helps debugging (just a hint), my `id_method_name` is `:id_hash`, which is coincidentially the same name as some methods used by the gem.

[2018-06-11 09:31] ChrisHampel commented on #242
This is following the JSON API specifications. In this specification, unless you tell it to, it will just put enough information to be able to look up the related resources. As shown in this section of the Readme [Compound Documents](https://github.com/Netflix/fast_jsonapi/blob/master/README.md#compound-document) you must pass in an options hash with the key include containing which associations y

[2018-06-11 13:36] LucasCioffi commented on #242
@ChrisHampel thank you so much for the detailed response!

`DesignSerializer.new(Design.last, {include: :user}).serializable_hash` gives me this error:
`NoMethodError: undefined method `delete_if' for :user:Symbol`
which seems to be coming from `process_options(options)` in lib/fast_jsonapi/object_serializer.rb

Is it clear to you what might be wrong?  Thank you; I appreciate it!

[2018-06-11 14:51] ChrisHampel commented on #242
sorry about that I was writing that at 6 am it should be an array {include: [:user]}

[2018-06-11 15:23] LucasCioffi commented on #242
Thanks, @ChrisHampel!

[2018-06-11 23:55] ababich commented on #237
Sure, please take a look at https://github.com/ababich/fast_jsonapi/compare/master...set_id_fail

[2018-06-12 10:29] youzik opened #246 "N+ requests when use include feature"
Hi there.

My frontend team helped me to find the fun issue. Their deserialization library requires included models for deserializing `has_many` associations. That's not a problem, but when I include models fast_jsonapi makes queries to fetch ids for `has_many` fields and more queries for included fields.

For example
Without include.
[code]

Trying to include
[code]

Just wondered if we see inclu

[2018-06-13 18:37] esiegel opened #247 "Make Relationships optional."
When a serializer has lots of associations it can sometimes be costly to make the additional DB queries to fetch the `type`: `id` pairs.  From looking at the spec and from reading the [JSON Api forum](https://discuss.jsonapi.org/t/is-it-valid-to-exclude-relationships-from-a-relationships-object/290), it seems like it isn't a requirement to always include the relationships, or include the pairs.  Y

[2018-06-14 23:26] djohnson opened #248 "Key transforms not called on the record type of included objects"
When key_transform is set to anything other than `underscore` and `set_type` is not manually called and includes are requested then the includes object types are not transformed as expected.

Looking in the code I see that `set_type` is called via inclusion into the class and even attempts to use the `run_key_transform` lookup, but given the code load/run order it will never be transformed.  You c

[2018-06-16 17:48] shishirmk commented on #247
You could send relationship links using this option https://github.com/Netflix/fast_jsonapi#links-per-object. To optionally include a relationship or attribute is a feature that needs to be  worked on.

[2018-06-16 17:52] shishirmk commented on #246
We are trying to remain agnostic to which underlying datastore and library you are using. So we dont think it makes sense to add this logic to the serializer. However we avoid getting into N+1 queries by using the ActiveRecord includes feature https://apidock.com/rails/ActiveRecord/QueryMethods/includes.

[2018-06-16 17:53] shishirmk commented on #248
Yes this is a known issue we need to build a fix for this issue and get it released.

[2018-06-17 02:15] ababich commented on #246
I do not see N+1 issue with `fast_jsonapi` in all cases except `has_many` relation when return a group of "ones" with lots of "manys" included

[2018-06-17 02:21] ababich commented on #73
I think this is a big problem when `has_one` and `belongs_to` are aliased they are logically different and it should be implemented:

A `belongs_to` B means A has `b_id` attribute
A `has_one` B means B has `a_id` attribute

Current implementation when you have to provide additional attribute for `has_one` relation is pretty inconvenient

[2018-06-17 02:47] youzik commented on #246
@ababich that's case I faced during my research

[2018-06-18 12:26] kushniryb opened #250 "&: shortcut doesn't work with custom attributes"
Hey guys 🖖

First of all - thank you for this awesome gem, great work 👍
Secondly - I think I may have found a small issue related to the following line -
https://github.com/Netflix/fast_jsonapi/blob/master/lib/fast_jsonapi/serialization_core.rb#L78

Custom attributes can be defined using following syntax
[code]
Theoretically I should be able to write it as `attribute :example, &:example?` but it d

[2018-06-21 11:12] krzkrzkrz opened #252 "Exclude data from relationships"
Couldnt find this in the doc. Wondering if there is a way to exclude the `data` node from relationships. Especially helpful for `has_many` associations with a ton of `data`, which makes the payload even larger.

Instead, have the option to include `links.related`

Would be nice if there was something like `has_many :comments, exclude: [:data], include: [:'links.related']`

By `links.related` in `r

[2018-06-21 11:15] krzkrzkrz opened #253 "Include links.related"
How do I include `links.related` for every relationship?

The same for every compound document

[2018-06-21 15:14] krzkrzkrz opened #255 "Having a hard time understanding usage of object_method_name"
Current docs doesnt really explain too much about `object_method_name`

Doc shows something like: `has_many :locations, object_method_name: :places`

But where exactly should `places` be defined? In the model? I have something similar defined in my model. But doesnt look like this method is being executed

[2018-06-21 15:43] gsaks123 commented on #108
Sure.  In this scenario we have an object class "Fighter", and when we call our API for a Fighter record, we want it to eager load and include a deeply nested association of other objects.  And that association is heavily scoped to only include certain results, with custom ordering.

Here is the custom method on our `app/models/fighter.rb` class which defines the scoping and the association. We wa

[2018-06-22 01:45] shishirmk commented on #255
@krzkrzkrz  yes it should be defined in the model. Could you give more information about why that is not working for you?

[2018-06-22 01:47] shishirmk commented on #252
@krzkrzkrz we dont have a way to do this.. sparse fieldsets should solve for this. That will be in our next release

[2018-06-22 01:47] shishirmk commented on #253
@krzkrzkrz we dont have a way to add links to the relationships.

[2018-06-22 01:48] shishirmk commented on #253
if you would like to work on that then i can look at the pull request and add the feature in

[2018-06-22 01:49] shishirmk commented on #250
@kushniryb could you add a test case for this so that we have a good way to look at why it would be failing?

[2018-06-22 01:49] shishirmk commented on #248
thanks @djohnson for the pull request

[2018-06-22 01:58] krzkrzkrz commented on #108
Yeap that explanation makes sense. I see how it works now. Thank you for that

However, I think this doesnt help my case. What I need to do, is call `object_method_name` with an arg. i.e. ideally passing `params` to it, so I can filter against it

[2018-06-22 02:03] krzkrzkrz commented on #255
I "partially" found my answer at https://github.com/Netflix/fast_jsonapi/issues/108

We can continue discussion there if you would like and we can close this?

[2018-06-22 02:06] krzkrzkrz commented on #252
Great to hear. Will close for now

[2018-06-22 02:06] #252 closed

[2018-06-22 02:58] krzkrzkrz commented on #108
Actually, I figured this out. `has_many` supports blocks. ie.

[code]

[2018-06-22 02:58] #255 closed

[2018-06-22 14:32] christophersansone commented on #246
I took a quick look to see what could be possible here, but I have to agree with @shishirmk.

It's the job of `fast_jsonapi` to serialize the data given to it as fast as possible.  It's not the job of `fast_jsonapi` to ensure that the data sent to it is optimized for performance.  The data should be optimized before it is passed into the serializer.

It looks to me like you can solve by changing y

[2018-06-23 18:02] abevoelker opened #257 "has_one behavior does not match Rails"
It seems that `has_one` is an alias of `belongs_to` (per #73), which is [not correct in terms of how Rails works](http://guides.rubyonrails.org/association_basics.html#has-one-association-reference). As a reminder of the difference:

[code]

As you can see `has_one` should look at the relation's table for the foreign key column, while `belongs_to` looks at its own table for the foreign key column.

[2018-06-23 18:03] abevoelker commented on #73
I agree with @ababich and created #257 for consideration

[2018-06-23 18:32] abevoelker commented on #257
I must've been doing something wrong because trying this out again, it does seem to work correctly where I thought I was getting an error before. Sorry for the noise!

[2018-06-23 18:32] #257 closed

[2018-06-24 09:34] krzkrzkrz opened #258 "Possible to make ids return as integers?"
As the title says. Possible to make ids return as integers? Maybe a configuration somewhere in the serializer?

[2018-06-25 03:30] krzkrzkrz commented on #258
Hmm, just realized. This is possible with `set_id`.

i.e. `set_id :id_to_s`

Then in the model:

[code]

[2018-06-25 14:16] TrevorHinesley commented on #82
Wouldn't this be possible with a block since #54 is merged in?

For instance:

[code]

You could even render certain attributes in that hash conditionally based on params that are passed in from the calling controller/context.

[2018-06-25 14:37] kushniryb opened #259 "Usage of block inside an attribute block nullifies attributes hash"
Hey guys 🖖

I've a following serializer in my application
[code]

Here's the response I get
[code]

It seems there's no way to use a block inside of an `attribute do / end` block without nullifying the attributes hash.

I've tried changing `any?(&:backorderable)` to `any? { |variant| variant.backorderable? }` but it produces the same result.

Changing block contents to `product.variants_including_

[2018-06-25 19:44] vovimayhem commented on #73
@ababich @abevoelker IMHO the direction/cardinality of the association in the database shouldn't be relevant on the serialization part of JSONAPI.

In both cases, you get the associated object's `id` and `type`, regardless if the ActiveRecord/ORM model your'e serializing has it implemented as a `belongs_to` or a `has_one`. There should be no extra attributes/options required to declare on the seri

[2018-06-26 08:34] kushniryb commented on #259
Update - it does work in some cases, investigating for more information.

[2018-06-26 08:39] bbonislawski commented on #259
[code]

Somehow it fails during first serialization but works for each next one

[2018-06-26 10:32] bbonislawski commented on #259
I've done more investigation and it's definitely connected with this https://gist.github.com/rsutphin/5102133 and https://github.com/Netflix/fast_jsonapi/blob/dev/lib/fast_jsonapi/serialization_core.rb#L76

`any?` called on activerecord collection somehow calls `break` underneath and whole hash becomes `nil`.

Simple fix that works for this case is changing attributes_hash to something like this:

[2018-06-26 12:19] kushniryb commented on #259
For me it fails the first 2 times as opposed to one 🤔

[2018-06-26 18:41] TrevorHinesley commented on #185
Done in #256

[2018-06-26 18:41] #185 closed

[2018-06-27 08:50] eltercero opened #261 "has_many ignores the serialize options"
Hi!

I may be confused, but [in the docs](https://github.com/Netflix/fast_jsonapi#customizable-options) it says that I can use custom serializers for relationships. For instance:

`has_many :actors, serializer: MyApp::Api::V1::ActorSerializer`

But when I try to use it in the app it seems to ignore the `:serializer` option. I checked the source code but I can't find where they serializer option ke

[2018-06-27 12:13] ivanyukio commented on #163
This is happening to me, when running local it really returns `nil` for empty fields, but in the server my api responses have `""` for empty fields and `"relation name": { "data": { "id": "0", "type": "..." }}` for empty relations.

Local response:

[code]

Server response:

[code]

This is my `user_serializer`:

[code]

[2018-06-28 07:48] krzkrzkrz commented on #247
Looking forward to this as well

[2018-06-30 11:20] bryszard opened #262 "N+1 queries on polymorphic relationship"
I've encountered an issue while serializing the more complex tree with polymorphic relationship. I found also a solution, but the question is if I could contribute by improving the gem.

Problematic relationships revolve around this - we have Declaration and Partner models. Partner `belongs_to` Declaration. Both of them have `has_many` relationship with WorkTrip model. Additionally WorkTrip `has_o

[2018-06-30 15:10] ababich commented on #73
@vovimayhem

`fast_jsonapi` **always** expects `_id` field in model A which is inconvenient in lots of one-to-one associations

for example:

we have base model `A` and with one-to-one relation with model `AHeavyDatails` and model `AStats`

both `AHeavyDatails` and `AStats` have `a_id` field

Having `a_id` in "extension" models is more scalable, etc. but, anyway, this is existing DB design

to des

[2018-06-30 15:16] ababich commented on #259
Can you please provide more details what you expect here? For me behavior of block attributes is very predictable

I'm just asking for clear explanation what you want: get true/false in `backorderable` or what?

[2018-06-30 15:31] kushniryb commented on #259
I’m expecting to receive true or false in backorderable as opposed to the nullified attributes hash

[2018-06-30 16:09] ababich commented on #259
Interesting issue, but without failing spec it's hard to "fix"

Or you can already do some specs?

[2018-06-30 16:21] ababich commented on #250
I can add here another issue:
`attribute :example, &:computed_example`

where `computed_example` has non-required params like this
[code]

as a result we will always get issues with `&:` definition

I believe it will work better if by default we will not send `serialization_params` to these methods or maybe introduce condition param for `attribute` to clarify this behavior?

[2018-06-30 17:11] ababich commented on #258
This is here
https://github.com/Netflix/fast_jsonapi/blob/dev/lib/fast_jsonapi/serialization_core.rb#L31

and actually frominitial commit from @shishirmk
https://github.com/Netflix/fast_jsonapi/commit/5374a1378ec3269b6267346001b32083ada9bd5a#diff-0d22ea72f1e72c75e7887cdbcba46871R22

may be he can add some light why this is done this way

[2018-06-30 17:29] guilleiguaran commented on #258
It's done in that way per JSON:API spec: http://jsonapi.org/format/#document-resource-object-identification

[2018-06-30 17:35] ababich commented on #246
@shishirmk / @christophersansone I think you need to provide examples how to do so at least here before updating `README`

[2018-06-30 17:39] ababich commented on #258
@guilleiguaran great comment!

But I agree with topic starter that this makes not much sense

[2018-06-30 18:15] christophersansone commented on #246
@ababich How about this:

[code]

[2018-07-01 05:30] youzik commented on #246
@christophersansone i guess you didn't catch my idea. I mean it's a little weird when gem asks for the same data twice per request. Once for render 'relationship' block, and then for 'includes' block. Why we just can't store ids from `select * from <>` query and use it later for 'relationship'?

[2018-07-01 07:50] krzkrzkrz commented on #258
Yea looks to be that strings are standard. Unfortunately, our API returns ids as integers. Changing to strings might require a huge refactor on the clients.

Until all clients manage to adapt. I guess the only way is to fork this repo and change the line at https://github.com/Netflix/fast_jsonapi/blob/dev/lib/fast_jsonapi/serialization_core.rb#L31

[2018-07-02 08:49] bryszard commented on #262
We invested some more time in it and another way of preventing n+1 here is to change the includes statement into:

[code]

In this case though we still have two additional queries - one to `partners` table and another one to `declarations` (so we have 14 queries instead of 12).

[2018-07-02 21:35] christophersansone commented on #246
@youzik Sorry, you're right, I guess I'm not following you.

I am assuming you are using `ActiveRecord`, correct?

Let's make a real world example here.  Assume this model:

[code]

And this serializer:

[code]

And finally calling the serializer:

[code]

When the serializer performs the serialization on a `movie` record, it will simply call `movie.actors` to get the list of actors.  And yes, it

[2018-07-03 09:42] #258 closed

[2018-07-03 16:44] krzkrzkrz opened #263 "has_one block optional returns error"
I have the following defined in a serializer:

[code]

`ArticlesSerializer.new(Article.find(1), {}).serialized_json` returns with:

[code]

[2018-07-03 19:59] krzkrzkrz commented on #263
This works if articles with id `1` has at least one chat message. But if not, then the error shows. I feel like `has_one` is ignoring `optional: true`.

As in, its always expecting an id to be present

[2018-07-03 20:23] ababich commented on #246
I think you rely on AR too much. I will prepare Sequel use cases for the issue

[2018-07-03 20:45] christophersansone commented on #246
@ababich Thanks, looking forward to seeing how you use this gem with Sequel.

Can we get confirmation, perhaps by @youzik, that ActiveRecord + this gem is working as expected with eager loading and caching?

[2018-07-04 03:16] youzik commented on #246
@christophersansone yeah, you're right here! We used to handle this issue same way, and allow the serializer to use cached data as many times as it wants. Anyway, in our scenario, it's not the best way, for some architecture reasons, but I assume we software developers, not just framework tuners, so we faced issues every day :). Thanks for your help and your time. I'll be happy to see how @ababich

[2018-07-04 03:32] shishirmk commented on #246
@ababich create a separate issue when you have set it up with sequel and things are not working. @christophersansone thanks for jumping in..

[2018-07-04 03:32] #246 closed

[2018-07-04 03:34] shishirmk commented on #262
@bryszard that is the recommended way to solve the problem as we think it's not the serializer's concern to worry about caching records. Look at #246 for more context.

[2018-07-04 03:34] #262 closed

[2018-07-04 03:35] #261 closed

[2018-07-04 03:37] shishirmk commented on #259
Agree with @ababich please share a failing spec

[2018-07-05 08:44] krzkrzkrz opened #266 "Cant include polymorphic associations"
Not sure if this is related to https://github.com/Netflix/fast_jsonapi/pull/236

Following the example at the Readme. If `User` serializer has `belongs_to :profile, polymorphic: true`.

Lets say, I have an `Article` serializer that has: `belongs_to :user`

[code]
I end up with an error `NotImplementedError: NotImplementedError`

Could also be related to https://github.com/Netflix/fast_jsonapi/issu

[2018-07-05 20:20] lassiter commented on #266
Are your users or profiles polymorphic?

If so, It is apart of #231, the object serializer has an exception for polymorphic includes.

[2018-07-05 21:12] krzkrzkrz commented on #266
@lassiter `profile` is polymorphic

[2018-07-06 18:56] kevincolten commented on #215
This does not seem to be fixed in 1.2

[2018-07-06 19:18] kevincolten commented on #215
Was able to get it working with https://github.com/Netflix/fast_jsonapi/tree/release-1.2.1#conditional-relationships

[2018-07-08 10:01] dontaire commented on #98
me too, after reboot it works, LOL

[2018-07-09 16:28] alosada opened #268 "Usage question on operations with nested objects"
Hello!

Lets say I have a model called `budget`, where `budget` has_many `items` and on my index, i need to display both the count of `items` as well as the sum of `item.price` so I get:
[code]

I'm wondering whats the best way to accomplishing this?

Currently I'm using the custom `attribute` to perform the math resulting on N+1 queries

[2018-07-10 18:18] yale commented on #237
hi folks - just bumping this as we're running into this same issue as well.

[2018-07-11 06:31] ababich commented on #268
If you do **not** have these values pre-calculated (which I'd recommend as a solution)
in most other cases you can do it in initial request via aggregation in corresponding query language (SQL, for ex.),
but exact implementation depends on your data storage (RDBMS, for ex.)
and toolkit you're using to query it (Sequel, ActiveRecord, for ex.)

[2018-07-11 06:34] ababich commented on #268
The question is out of gem scope, you should close it and ask in some proper place (stackoverflow.com, for ex.) to dig into solution details

[2018-07-13 13:12] aphilippartd opened #270 "record_type not working for associations"
Hi,

I am currently facing an issue when trying to include a certain nested record in one of my serialization. I have two serializers: a ContractSerializer and a LegalEntitySerialiser. Each of my legal entities can either be a owner or a tenant. On my Contract model, I have a `has_many :tenants` relationship. My ContractSerializer is defined as follows:

[code]

As shown in the Serializer definiti

[2018-07-13 18:50] TrevorHinesley commented on #270
From looking at your code, the record_type should be `legal_entity`. If your tenants are `legal_entity` types, then the record_type should be that, not `tenant`.

[2018-07-14 08:56] Erol commented on #250
@shishirmk Encountered this as well and opened a PR

[2018-07-15 19:29] shishirmk commented on #268
Agree with @ababich

[2018-07-15 19:29] #268 closed

[2018-07-15 23:36] lassiter commented on #266
Shishir, does this look like it'll need to be a major refactor support
polymorphics?

*Lassiter Gregg*
*lassitergregg@gmail.com <lassitergregg@gmail.com>*
*cell (832) 495-9903*

On Sun, Jul 15, 2018 at 2:28 PM, Shishir Kakaraddi <notifications@github.com

[2018-07-16 05:42] manojmj92 commented on #79
@shishirmk it would be nice if you can make this work for both `set_type` and `set_id`. I can work on this.

[2018-07-17 03:53] shishirmk commented on #270
@aphilippartd if you want to change the type in the included record as well, then go ahead and use `set_type` in the LegalEntitySerializer definition.

https://github.com/Netflix/fast_jsonapi#serializer-definition

[2018-07-17 03:55] shishirmk commented on #263
@krzkrzkrz  i dont think we have the optional: true flag implemented. If you have sometime please take a stab at it.

[2018-07-17 04:04] shishirmk commented on #237
@yale there is a workaround for this as @ababich mentioned you need to set both `id_method_name` and `set_id`. We would need to figure out how to `set_id` so that it can be used both in the serializer and all the places the record is used in a relationship

[2018-07-17 04:14] Erol commented on #270
I think this might be related to what I encountered on #271 where inherited serializers do not have a set `record_type` by default.

This is the commit with test case: https://github.com/Netflix/fast_jsonapi/pull/271/commits/e7dc8b4b31857c39295bdd5310e00d6a490ba6ce

[2018-07-17 05:08] shishirmk commented on #57
This feature is released in [version 1.3](https://github.com/Netflix/fast_jsonapi/releases/tag/1.3)

[2018-07-17 05:08] #57 closed

[2018-07-17 05:09] shishirmk commented on #229
This feature is released in [version 1.3](https://github.com/Netflix/fast_jsonapi/releases/tag/1.3)

[2018-07-17 05:09] #229 closed

[2018-07-17 05:09] shishirmk commented on #248
This feature is released in [version 1.3](https://github.com/Netflix/fast_jsonapi/releases/tag/1.3)

[2018-07-17 05:09] #248 closed

[2018-07-17 05:10] shishirmk commented on #266
duplicate of #231

[2018-07-17 05:10] #266 closed

[2018-07-17 05:11] #227 closed

[2018-07-17 05:11] shishirmk commented on #250
This feature is released in [version 1.3](https://github.com/Netflix/fast_jsonapi/releases/tag/1.3)

[2018-07-17 05:11] #250 closed

[2018-07-17 05:15] shishirmk commented on #247
Optionally including an attribute or a relationship called sparse fieldsets feature is ready. This feature is released in [version 1.3](https://github.com/Netflix/fast_jsonapi/releases/tag/1.3)

[2018-07-17 05:15] #247 closed

[2018-07-17 07:14] aphilippartd commented on #270
Thanks for your replies! @Erol , you're right, that's most likely the issue thanks!

[2018-07-17 07:14] #270 closed

[2018-07-17 17:55] gbrlmrllo commented on #263
I'm having the same problem, the `has-one` association assumes that an object is always present.

[2018-07-18 20:47] ChrisHampel commented on #102
what about this for the interface:

[code]

Which would produce:
[code]

[2018-07-18 21:09] jshow commented on #231
How does this look ? https://github.com/Netflix/fast_jsonapi/pull/275

[2018-07-18 21:09] jshow commented on #266
How does this look ? https://github.com/Netflix/fast_jsonapi/pull/275

[2018-07-19 04:57] ababich commented on #102
@shishirmk I think the only thing needed from the gem is to be able to define root key as `"errors"` instead of `"data"`, etc.

Errors themselves look just like a regular serializer

[2018-07-19 10:08] ChrisHampel commented on #102
the reason I was suggesting a sperate serializer base, is that, as there is a specific list of allowed base attributes, and most attributes, are specified to be strings only, additional optimization should be possible

[2018-07-19 14:52] TrevorHinesley opened #276 "Nested includes not working as documented"
Per the [documentation](https://github.com/Netflix/fast_jsonapi#compound-document), one should be able to specify nested relationships in the `include` key and only return the last relationship in dot notation. However, this is not working like that. Using the RSpec contexts:

[code]

This should only include `awards`, but it includes `actors` and `awards`.

Personally, I prefer this, but is it th

[2018-07-19 14:57] TrevorHinesley opened #277 "Nested includes not receiving params"
Currently, if a conditional block is used in a nested included relationship, the nested relationship won't receive the params. Using the RSpec contexts as an example, if `actors.awards` is included, `awards` would have an empty params hash if executing a conditional attribute, relationship, etc.

[2018-07-19 15:04] jshow commented on #276
The intended behaviour was to only serialize the last relationship - I'm on the fence as to the current behaviour - it's not precise, which I generally don't like, but I've taken advantage of the syntax

[2018-07-19 15:06] TrevorHinesley commented on #276
ActiveModel::Serializers follows the current convention, of serializing all relationships in the dotted chain, but I understand both use cases for sure. Either way, I think it should be adjusted to match the intended behavior, or documentation should reflect the current implementation.

[2018-07-19 15:17] jshow commented on #276
now that I think of it, it would be tough to just serialize the end chain, as we need to walk through each serializer's instance - far easier to adjust the documentation, and there's something to be said for api consistency with AMS

[2018-07-19 16:44] ChrisHampel opened #279 "caching with conditional associations"
if you use caching with condition associations, (possible conditional attributes, I haven't checked), what is cache is the state that conditions are in, when the first request comes in, as that is what is cached.

ie:
[code]

[code]

if you serialize locations of them and tell the gem to include the owners, it will result in a large amount of data being loading in 3+ queries

* load the locations

[2018-07-20 05:13] krzkrzkrz commented on #266
The PR from @jshow is exactly what I need. Any chance we can merge this asap?

[2018-07-20 12:57] ababich commented on #276
If you do not serialize all the chain - client will not be able to restore the chain in general use case

I think making docs more clear about this would be enough

[2018-07-20 14:03] manojmj92 commented on #263
@krzkrzkrz @shishirmk - I can take this up but I don't feel this is something that the serializer should be responsible for. This has more to do with checking the data sanity before serializing. Like
[code]

[2018-07-20 16:33] TrevorHinesley opened #282 "Slower performance than AMS with associations"
Basically, we just tested our production application with fast_jsonapi, and discovered that AMS actually seems (don't have proper compiled benchmarks other than the stats I'm about to mention, but wanted to start this conversation) faster when lots of associations are used. I'm not sure where to start with speeding that up in fast_jsonapi, but there are noticeable slow-downs when associations are

[2018-07-20 20:22] lassiter commented on #266
I think that PR #275 still needs tests first. There's nothing validating it works.

[2018-07-21 02:53] shishirmk commented on #282
@TrevorHinesley one of the first steps is to get a benchmark or performance test example. I would love to figure out why it would be slow.

[2018-07-21 02:58] shishirmk commented on #279
@ChrisHampel that definitely seems like a bug. I don't think we have tested caching with all the new features we have added so it would be worth it to test it. Also caching has very little performance benefit in fact I was thinking of taking it out. It doesn't cache the records that are passed in. If the same record is passed it uses the cached json which wont work with all the conditionals that c

[2018-07-21 02:58] shishirmk commented on #277
Merged to dev

[2018-07-21 03:35] ChrisHampel commented on #279
what about, adding the params to the hash key somehow so that when the params change the hash key changes. this could be extended to allow the user to specify what params to take into account, giving the user more control. over cache invalidation

[2018-07-21 13:36] TrevorHinesley commented on #282
Definitely, we are going to try to set up some benchmark tests tomorrow and early next week. I’ll report back as soon as I have those.

[2018-07-23 09:50] Cakirucho opened #284 "Conditional attributes bug??"
Hi guys, first of all i wanted to thx you for the great library you are building.

I have been trying the new `Conditional attributes` feature, and it seems that there is one case where it do not works:

In the Documentation, you are using Proc like that:
[code]

But, as you can't build `Proc` object without block, that piece of code is raising `tried to create Proc object without a block` excepti

[2018-07-23 11:59] devtoro commented on #104
Sorry for the late reply...I had certain issues to attend and could not participate further.

What's the status on this?

Is [#151](https://github.com/Netflix/fast_jsonapi/pull/151) merged? Shall I take some action? I would gladly implement it if it's necessary. :)

[2018-07-23 19:23] TrevorHinesley commented on #284
@Cakirucho To your first point, you're correct: it should use brackets and not the `do` syntax. That's my bad!

Referring to your last comment: please add tests if you feel so inclined!

[2018-07-23 19:24] TrevorHinesley commented on #282
Sorry about this, it turned out there was a single point of failure that was causing this that was unrelated to fast_jsonapi. It's still slightly faster with fast_jsonapi (takes about 60% of the time that AMS does). Red herring!

[2018-07-23 19:24] #282 closed

[2018-07-25 21:26] ababich opened #287 "Rubocop"
As contribution is growing and we all are very happy for the gem - I feel some code style rules will be very helpful

If maintainers have nothing against it I will provide PR

Thanks!

[2018-07-26 10:49] Cakirucho commented on #284
@TrevorHinesley thx for that Trevor!!

I will take a look on test and try to add couple of them for custom attributes :)

[2018-07-26 14:31] CoSNaYe opened #289 "Customize the root key after serialization"
Hi, thanks for building this fast serializer. I'm migrating from `active_model_serializers` to `fast_jsonapi`. However, there's a difference between these two gems: the response from `active_model_serializers` is automatically wrapped by `model name`(e.g 'product'), but `fast_jsonapi` is always `data`.

Given that I already have a running service and I don't want to change its output for clients,

[2018-07-27 07:43] manojmj92 commented on #289
@CoSNaYe - If I'm not wrong, JSON API spec mandates that the root element can only be called "data" and not something else:

Reference - http://jsonapi.org/format/#document-top-level

Are you currently using AMS with JSON API adapter? Can you please share the syntax by which you are able to customise the root element from "data" to "product" in AMS?

[2018-07-27 11:32] leoau123 opened #290 "Got error with Conditional Attributes"
I’m trying to serialize the data with conditional attributes, but I got this error:

[code]
Here my code
[code]

and the model

[code]

[2018-07-27 12:23] manojmj92 commented on #290
Can you please provide the stack trace as well?

On Fri, Jul 27, 2018, 5:02 PM leoau123 <notifications@github.com> wrote:

[2018-07-28 04:03] leoau123 commented on #290
@manojmj92

I had checked the stack trace, my rails was installed fast_jsonapi v1.1.1 instead of v1.3, I will close the issue, many thanks.

[2018-07-28 04:03] #290 closed

[2018-07-30 17:42] manojmj92 commented on #289
Hey @CoSNaYe!

Thanks for getting back with the data.

Correct me if I'm wrong, but I strongly feel that you might have mistaken "JSON API" with "JSON API Spec".

Because, you'd have to use
`ActiveModelSerializers.config.adapter = :json_api` and not `ActiveModelSerializers.config.adapter = :json` for JSON API adapter to work.(https://stackoverflow.com/questions/33620859/changing-active-model-seria

[2018-07-30 20:40] dominiceden commented on #135
I had this issue too with version `1.1.1`. Solved by installing the `oj` gem.

[2018-07-31 06:33] CoSNaYe commented on #289
Hmmm... yes, you are right. AMS provides both `:json` and `:json_api` adaptor, and I should use `:json_api` in the beginning.
https://github.com/rails-api/active_model_serializers/blob/v0.10.6/docs/general/adapters.md

And I agree that it's better I correct my codes to comply with the best practice.
Thanks.

[2018-07-31 06:33] #289 closed

[2018-07-31 06:57] manojmj92 commented on #289
@CoSNaYe happy to help! :)
Moving to `json_api` to just `json` will have breaking changes, so please do plan and test accordingly :)

[2018-07-31 16:37] blim8183 opened #291 "Size attribute on object causes problems"
An object that I'm trying to serialize has an attribute called `size`. This is causing the error `undefined method 'each'`.

I'm assuming this is related to https://github.com/Netflix/fast_jsonapi/pull/234 which is checking for the existence of a method called `size` to determine whether the object is a collection.

[2018-07-31 16:55] manojmj92 commented on #291
Hey @blim8183,

Your analysis is correct. It is definitely due to the code in #234.
One quick way for you to solve this is to force `is_collection` to be false, so like,

[code]
This should work for you. Your case is really an edge case, and the ability to force `is_collection` was added especially to counter such kind of cases. Let me know if it works! :)

[2018-08-01 03:58] bf4 commented on #135
@dominiceden would you be interested in trying the debug I mentioned in https://github.com/Netflix/fast_jsonapi/issues/135#issuecomment-376407721 or pairing with me to see what the problem was?

[2018-08-01 05:38] Erol opened #292 "Make the syntax of meta consistent with attributes, links, etc"
Credit to @manojmj92 for adding this feature.

Just wanted to explore the possibility of making the syntax of `meta` consistent. Currently, we pass a name whenever we define an `attribute` or `link`, like:

[code]

And `meta` takes in a block:

[code]

Would it be worth pursuing making the `meta` syntax to:

[code]

What are your thoughts about this?

[2018-08-02 14:10] addicted2sounds opened #293 "set_key_transform makes set_type ignored"
as I can see from the code `set_key_transform` makes `set_type` to be ignored:

[code]

Do I understand correctly that I can't set my own record type if I want to use `key_transform`?

[2018-08-02 16:18] coconup commented on #102
Here is a quick and dirty extension of `ObjectSerializer` that basically achieves what proposed above:

[code]

If you are using Rails, you can put this code into `lib/fast_jsonapi/error_serializer.rb` and require it from an initializer the usual way:

`config.autoload_paths += Dir[Rails.root.join("lib/fast_jsonapi/*.rb")].each {|l| require l }`

It's a rather hacky solution and I'd also love to s

[2018-08-03 10:33] manojmj92 commented on #293
@addicted2sounds I don't think this is right.
Because : https://github.com/Netflix/fast_jsonapi/blob/master/lib/fast_jsonapi/object_serializer.rb#L161

clearly specifies to run `run_key_transform ` on the specified `record_type` you have specified using `set_type`

[2018-08-03 10:52] manojmj92 commented on #292
@Erol thanks for raising this!

While I like the idea, the case of `meta` is a little different from the case of `attribute` or `link` you have mentioned.

Eg: When you say

[code]

it actually creates 2 different keys with the name `name` and `address`.

While in the case of `meta`, no matter how many `meta` keys you specify like

[code]
there can only be one and only one meta key in the response

[2018-08-03 10:53] manojmj92 commented on #291
@blim8183 can you close this if the above response solved your problem?

[2018-08-03 11:29] Erol commented on #292
You're right that there can only be one `meta` key per record. But that is also the case when using `attribute` in the sense that there can only be one `attributes` block per record.

I was thinking that all keys defined by the `meta` directive will be placed directly inside the `meta` object, similar to how `attribute` does it for the `attributes` object.

Here's an example with both `attribute`

[2018-08-03 11:35] manojmj92 commented on #292
Hey @Erol, thanks for the detailed explanation, I get your point now.
Looks like a good addition, and I can implement this.

But I'll wait on @shishirmk's opinion before moving forward.

[2018-08-03 11:36] manojmj92 commented on #292
Also @Erol, one good thing about your idea is that we get to override the methods used for `meta` tag when serializers are inherited. Using the block style hinders us from doing so. :)

[2018-08-03 11:40] Erol commented on #292
No worries, looking back I should have given a detailed example. I wrote the initial post in haste 🙂

Yeah that's an additional benefit, we can inherit and choose to override per key as needed.

[2018-08-03 11:47] addicted2sounds commented on #293
@manojmj92 As I understand then, I should place set_type only after set_key_transform. `set_type` is then invoked twice:
1. in set_key_transform: https://github.com/Netflix/fast_jsonapi/blob/5ff3fa97dae4b6be51bf8ec315cb427667c4ce96/lib/fast_jsonapi/object_serializer.rb#L145
2. when I actually call `set_type`

[2018-08-03 17:00] manojmj92 commented on #293
Yes, that is right. Calling `set_type` after `set_key_transform` performs transformation on the input twice, but the result will be same in both the first pass and second pass.

However, calling `set_key_transform` after `set_type` also performs transformation on the input twice, but the result of the first pass will be different from the second pass.

But whichever order you call them makes no di

[2018-08-04 00:58] #291 closed

[2018-08-07 07:59] LuisHCK commented on #242
@ChrisHampel Thanks, _include_ works for me.

[2018-08-08 18:46] leonmojica opened #296 "Filter relationship elements conditionally"
Hi,

I need to filter out some elements from a relationship via simple logical condition, I am working on a serializer with a has_many relationship but only a subset of the relationship elements should be yielded.

Is there a way to achieve this?

[2018-08-09 00:51] michelboaventura opened #297 "has_many ignores serializer"
I'm trying to use the ``serializer``option for a has_many relation and it seems it is just ignored:

[code]
This does nothing, and serialize ``rules`` with only ``id`` and ``type``.

I get the same result using something silly like this:

[code]

Looking at the code I can see the option being passed to ``FastJsonapi:Relationship`` but not being use anywhere on the code:

https://github.com/Netflix

[2018-08-09 03:39] manojmj92 commented on #297
Hey @michelboaventura,

Can you give the code for both `SplitSerializer ` and `RuleSerializer ` in it's entirety, the code for how you are making the call to `SplitSerializer` and it's response so that we can debug this better?

[2018-08-09 03:50] manojmj92 commented on #296
Yes,

[code]

Any association, ie `has_many`, `belongs_to` etc can take a block with the object and params and you can filter things out inside the block.

Hope that helps! @leonmojica !

[2018-08-09 12:51] michelboaventura commented on #297
Sure:

[code]
[code]
[code]
[code]

And to call ``SplitSerializer`` I'm just doing:
[code]
which is returning:
[code]

Thanks

[2018-08-09 14:14] manojmj92 commented on #297
@michelboaventura No worries, you just forgot to add `includes`

While making the call to serialize, do it this way if you want the `rules` also to be part of the response.

[code]

And that should solve your issue. This is called a `compound document`
Reference: https://github.com/Netflix/fast_jsonapi#compound-document

If you always want `rules` to be part of the response, I would suggest doing

[2018-08-09 22:59] g13ydson opened #298 "Why when I set the serializer type it is not persisted for relationships?"
[code]
**GET api/v1/blogs/1?include=posts**

[code]

[2018-08-10 03:38] manojmj92 commented on #298
@g13ydson This is an issue that I have also faced. While it might take time to get resolved in the library, here is a workaround that I can suggest using `record_type`:

[code]

That should solve your problem. Can you please verify? Thanks! :)

[2018-08-10 12:43] g13ydson commented on #298
@manojmj92 , thank you for your response. Resolved in part, the type was modified, but in relationships, within the include, it still appears in the singular.
[code]

[2018-08-10 13:47] g13ydson commented on #298
I found the _**object_method_name**_ option, thanks :)

[2018-08-10 14:14] manojmj92 commented on #298
I think you could also use `set_type :blogs` in BlogSerializer to get the
correct result

On Fri, Aug 10, 2018, 7:17 PM Gleydson Tavares <notifications@github.com>
wrote:

[2018-08-10 14:42] g13ydson commented on #298
Yes, it's already set.

[2018-08-10 16:28] g13ydson commented on #298
There is an option called "key" that does not exist in the documentation. I had to look in the code to know that it exists. With this option, you can change the json object key. I created a pull request to add this option in the documentation.

[2018-08-10 16:28] #298 closed

[2018-08-13 11:29] doits opened #300 "Support different cache key method (for cache versioning from Rails 5.2)"
Since Rails 5.2, it is possible to use cache versioning, see https://api.rubyonrails.org/classes/ActiveRecord/Integration.html

This means, that `cache_key` does not include a timestamp, but `cache_version`. Additionally, Rails provides `cache_key_with_version` (which is like `cache_key` in Rails <= 5.1).

I think the easiest way would be to allow the user to define a `cache_key` method in the ser

[2018-08-13 14:54] thomaspiu commented on #297
Hi @manojmj92, thank your message.

I had the same the same issue and your solution is working but the schema does not match what I expect for my use.

In fact,  the `options[:include]` add an `included:` section to the JSON schema but I would be able to have my relationship serialized inside the `relationships:` section.

Here is what I get from my serialisation :
[code]
Could you tell me how sho

[2018-08-13 15:07] manojmj92 commented on #297
Hi Thomas,

I'm afraid that is not possible. This gem works according to the JSON API
standards and it clearly mentions that all relationship details go into the
"included" key. Unfortunately, There is no way it will work the way you
want it to work.

On Mon, Aug 13, 2018, 8:24 PM Thomas Piussan <notifications@github.com>
wrote:

[2018-08-13 23:38] Genkilabs commented on #53
Additionally, if you like the JSONAPI error spec and want it for general use beyond errors within a model. You can drop something like this right in application_controller.rb
[code]
(I threw in PDF to demonstrate the env conditional which I often find useful during dev)

[2018-08-14 10:44] evaldasg commented on #297
@thomaspiu you can create an attribute  `{ "data" => { "id" => "1", "variants" => [....` :)

[2018-08-15 01:02] Erol commented on #292
Any feedback on this @shishirmk?

[2018-08-15 01:22] amysutedja opened #301 "Support automatic pluralization of resource types"
AMS produces pluralized resource types by default for all serialized types, whereas fast_jsonapi does not. This makes migration from AMS to fast_jsonapi cumbersome, especially if you have a lot of types.

My original plan was to just write some code to perform the pluralization transform automatically, but it turns out that `FastJsonapi::ObjectSerializer` calls `set_type` rather aggressively, whic

[2018-08-15 13:04] feliperaul commented on #245
@shishirmk Did you manage to reproduce the bug?

[2018-08-15 22:36] marksiemers opened #302 "Support has_one through associations"
When trying to serialize a `has_one ... through` association, the serializer tries to read the foreign key from the current table (not the model that the association goes through).

It creates an invalid SQL query and an `ActiveRecord::StatementInvalid` error is raised.''

[code]

I've tried using a block and some of the other options available, but the same error is raised each time.

Are `throug

[2018-08-15 22:58] marksiemers commented on #302
Apologies, this seems to be an upstream issue with the authorization gem that is generating the SQL query.

[2018-08-15 22:58] #302 closed

[2018-08-16 22:31] Genkilabs commented on #292
Actually, what I would really like for my use case is per-item meta in a collection. Per the JSONAPI spec:
```a resource object MAY contain any of these top-level members:```
[code]
SerializationCore already includes a pattern for `relationships_hash`, `attributes_hash`, and `links_hash`. So I would propose a similar pattern for the `meta_hash` on an individual record.

I envision adding per-objec

[2018-08-17 12:25] coconup opened #303 "Flipped ArgumentError with conditional attributes"
Conditional attributes are throwing me an `ArgumentError` if I don't give two arguments to the `Proc` passed to the `if:` keyword:

[code]

returns `ArgumentError: wrong number of arguments (given 2, expected 1)` (shouldn't it be the other way around, if anything?)

Passing a second argument, on the other hand, makes things work just fine:

[code]

[2018-08-17 20:44] bf4 commented on #135
@nicolasrouanne great! Please contact me at http://www.benjaminfleischer.com/pair/

In the meantime, what's the output of

[code]

[code]

[2018-08-20 20:13] Dantemss commented on #297
Maybe I should open a separate bug report, but it seems the serializer is indeed being ignored for `set_id` as well. I have this `has_many :metadatas` association with a Metadata object with `set_id :uuid` in the serializer and if I `include: [:metadatas]` I get this:

`:metadatas=>{:data=>[{:id=>"1", :type=>:metadata}]}` under `:relationships` and `{:id=>"8b50452d-63dd-49e7-88aa-e84501df6a51", :t

[2018-08-21 07:57] ritesh2741 opened #304 "Sparse Fieldset and Have Relationships"
In given example with movie, actor and owner are 3 models with relationships
Let's say if I want only name from movie, and include only 1 attribute from actor and 1 attribute from owner, ( Let's assume actor has an attribute `rating` and owner has an attribute `first_name` as there aren't any given in example. )
I can use `options[:include] = [:actor,:owner]` and `MovieSerializer.new(movie, option

[2018-08-21 11:08] nicolasrouanne commented on #135
_Before_ installing `oj`
[code]

_After_ installing `oj`
[code]

[2018-08-21 15:00] nicolasrouanne commented on #135
`@boat` is an _ActiveRecord Model_ instance

[code]

I'm using `ruby` _2.5.1_ and `json` _2.1.0_

What do you mean?

[2018-08-21 16:31] Dantemss commented on #297
I guess setting `id_method_name` in the `has_many` solves this, so never mind... just have to remember to set both.

[2018-08-21 18:52] bf4 commented on #135
My guess is you mean you have a poor with activemodel::model mixed in but
not activemodel::serialization

On Tue, Aug 21, 2018, 11:01 AM Nicolas Rouanne <notifications@github.com>
wrote:

[2018-08-23 03:10] shishirmk commented on #303
@coconup  if params are not passed in we should probably set it to a default empty hash. Is this something you can make a pull request for ?

[2018-08-23 03:13] shishirmk commented on #301
@amysutedja why don't you add a new option to the serializer called `pluralize_type: true` by default let it be false that way existing behavior would be retained. Is this something you could contribute?

[2018-08-23 03:14] shishirmk commented on #287
@ababich go ahead and add a Rubocop PR. I will approve it.

[2018-08-23 03:14] #287 closed

[2018-08-23 03:16] shishirmk commented on #300
@doits are you using caching in production with the gem? If yes i would be curious to see how much performance benefit it adds.

[2018-08-23 03:33] shishirmk commented on #304
@ritesh2741 You should be able to get the correct serialized output with just one call to the serializer. Have you tried something like this?

[code]

[2018-08-23 05:02] coconup commented on #303
@shishirmk here you go: https://github.com/Netflix/fast_jsonapi/pull/305

[2018-08-23 05:35] manojmj92 commented on #301
@shishirmk @amysutedja I'd be happy to take this!

[2018-08-23 08:55] doits commented on #300
@shishirmk I'm not using caching in production since it does not work for my Rails 5.2 apps because of the cache versioning (which I have enabled in all my apps by default). Since `object.cache_key` stays the same I cannot enable the cache in the serializer since it would never be refreshed (until it expires). That's why I'm asking for this change.

So I cannot help you with some performance data.

[2018-08-24 12:14] kgeoir opened #307 "has_many :relations, serializer: My::Custom:Serializaer does not work"
Hello,

  I just try to use a specific serializer in a relationship but it does not work. When I check in the code, it seems it is not implemented attribute @serializer is not used in relationship.rb.
Am I mistaking? Do you plan to implement it?

[2018-08-26 20:36] danascheider opened #308 "Support for many-to-many relationships"
Hi there! I was looking into this gem for my app but it looks like it won't work since we use `:has_and_belongs_to_many` on three of our models. I wanted to see if support for many-to-many relations is functionality you are considering/would consider adding, or if there's a reason (besides these associations being less common) that it isn't currently supported. If you'd like help adding this, I'd

[2018-08-27 23:36] SKEPDIMI opened #309 "Serializer not working!"
Hi - this is my first time using fast_jsonapi. I am currently building a simple todo API and followed all the instructions provided for usage in the README.md

# Added to Gem file

[code]

# Ran bundler

`$ bundle install`

# Generator

`$ rails g  serializer Todo`

# Model Definition

[code]

When a request like `GET /todos/1` comes through, it will go through this process (minified):
[code]

Exp

[2018-08-28 01:16] ChrisHampel commented on #309
the output you are getting is from rails default implementation `as_json`

As shown in the documentation you currently have to explicitly call the serializer:
[code]

[2018-08-28 15:26] SKEPDIMI commented on #309
Thank you very much, @ChrisHampel ! This has solved my issue!

[2018-08-28 15:26] #309 closed

[2018-08-28 16:51] ritesh2741 commented on #304
@shishirmk
The option you gave makes sense. The relationship hash is {} however the required results come inside included hash.

[2018-08-28 16:51] #304 closed

[2018-08-29 08:53] hult opened #310 "Key transform resets type in fast_jsonapi 1.3"
In fast_jsonapi 1.3 (but not in 1.2), calling `set_key_transform` after `set_type` seems to reset the type

[code]

Note the singular "deck". I expected the plural "decks".

If I switch the order of `set_type` and `set_key_transform`, it works.

[2018-08-30 16:45] manojmj92 commented on #307
@kgeoir can you give us the code example of what you have tried to implement? It is hard to give a solution without knowing what you have tried.

[2018-08-30 16:47] manojmj92 commented on #292
@Genkilabs this is something that I have already implemented and merged in the `dev` branch. It will be live in version 1.4 of this gem. PR: #280

[2018-08-31 02:09] leonmojica commented on #296
@manojmj92 it worked! thank you very much

[2018-08-31 02:42] ankit8898 commented on #307
@kgeoir Also, can you provide details on ur implementation and errors? Want to be sure that the one bug we observed related to `serializer:` is same as yours.

[2018-08-31 19:02] shishirmk commented on #301
@manojmj92 go ahead!

[2018-09-01 03:17] danhunter commented on #308
@danascheider Using `has_many` for `has_and_belongs_to_many` relations has worked well for me

[2018-09-01 20:16] danascheider commented on #308
Oh fantastic! I haven't had to use many-to-many relations in Rails very much, surprisingly, so I just assumed it was different since the docs didn't mention it. Thank you!

[2018-09-01 20:16] #308 closed

[2018-09-04 14:00] kgeoir commented on #307
Hello,
Sorry for the delay, holidays power ^^
So what I am trying to do is to define a relation in my serializer when this relation is used, an other serializer is used to render data.
Let me give you this exemple:

`
class BookSerializer
      include FastJsonapi::ObjectSerializer
      attributes :color, :nb_words
end

class StudentSerializer
      include FastJsonapi::ObjectSerializer
      has

[2018-09-04 19:14] ChrisHampel commented on #307
are you passing in in options[:include]=[:books] as shown here? https://github.com/Netflix/fast_jsonapi#compound-document

[2018-09-04 20:35] ankit8898 commented on #307
@kgeoir as @ChrisHampel mentioned you need to `include: [:books]` while serialization. Eg

[code]

[2018-09-10 15:25] benlinton opened #314 "Add support for a conditional block (feature request)"
I'd like to do something like this,
[code]
Instead of defining the same `Proc` many many times on optional attributes and associations.

[2018-09-10 17:07] mikemarsian opened #315 "Allow blocks for setting id"
Currently we allow to customize any attribute by using blocks. I would like to extend the same behaviour to ids. Currently the only way to customize id is by using `set_id :custom_id` but this specifies an alternative method in the object. Instead, I would like to be able to customize id right here in the serializer, using something like this:
[code]
This is useful in situations when you have diff

[2018-09-11 11:10] jpamarohorta opened #316 "Migrating from active_model_serializers to fast_jsonapi"
Hello, thanks amazing work on this gem! The performance improvements comparing to AMS are really impressive so we are migrating from it.

To ease our migration we didn't wanted to change the JSON output. However the default JSON structure produced by this gem is something along this:

[code]

while with AMS the structure was more basic:

[code]

Is there any way to change the JSON structure to mat

[2018-09-11 22:57] devmarwen commented on #316
This gem serializes data based on the [**JSON API** specs](http://jsonapi.org/). I think with **AMS** you are using the `attributes` adapter? If you change the adapter to `json_api` you will basically get the same result as **fast_jsonapi**:
[code]

[2018-09-12 08:56] manojmj92 commented on #316
+1 to what @devmarwen mentioned. You are probably not using AMS with the `json_api` adapter.

[2018-09-12 09:13] jpamarohorta commented on #316
Ok I understand now. So it is possible to change AMS JSON adapter to be the same as the `fast_jsonapi` one, but I suppose it is not possible to do the opposite, change the `fast_jsonapi` adapter to `attributes` right? given the name of the gem

[2018-09-12 09:16] manojmj92 commented on #316
That's right.

On Wed, Sep 12, 2018, 2:44 PM João Horta <notifications@github.com> wrote:

[2018-09-12 09:17] #316 closed

[2018-09-14 16:03] sirdharma opened #317 "Nested compound documents on polymorphic relationships"
Hi,

I can't seem to find a way to specify a nested compound document on a polymorphic relationship.

Let's assume we have:

[code]

[code]

I would like to be able to serialize a collection of `Pictures` as such:

[code]

And expect the following JSON:

[code]

Is this currently built-in? Thanks!

[2018-09-14 18:32] cibernox opened #318 "[BUG dev] `type` key of serialized polymorphic belong_to relationships is underscored"
I have a business model where a `Board` has many `BoardStrip`s, and the board strip `belongs_to :strip, polymorphic: true`.

Strip uses STI and has three subclasses.

When a board is serialized this is the shape of the payload:
[code]

All my serializers have `set_key_transform :dash`, so I'd expect the type to be dasherized, like it is with non-polymorphic belongs_to relationships.

I am using th

[2018-09-15 16:56] shishirmk commented on #317
@sirdharma it should come with the next version. You can try the dev branch which has the next version code

[2018-09-15 17:01] shishirmk commented on #315
That sounds like a good idea. We should support that. If you can work on it, go ahead and make a pull request.

[2018-09-15 17:03] shishirmk commented on #314
Could you elaborate more about what are the use cases when you would need this functionality?

[2018-09-15 17:04] shishirmk commented on #307
@max-larue please go ahead and add that to the read me. I think that is useful to have it in there.

[2018-09-15 18:34] shishirmk commented on #318
Looks like this is an issue with how we have implemented polymorphic support. I am taking a look. I will update you when i have a fix ready.

[2018-09-16 02:43] nruth commented on #276
I think if you stop including the whole chain it's not jsonapi anymore. The spec is pretty explicit about full linkage. The example in the docs linked to above has some redundant keys that could be removed, also in the spec.

http://jsonapi.org/format/#document-compound-documents
http://jsonapi.org/format/#fetching-includes

<img width="740" alt="screen shot 2018-09-16 at 03 40 06" src="https://us

[2018-09-16 08:03] hult commented on #310
Sorry, been travelling. Now I see a fix is underway, thanks! :)

[2018-09-20 04:58] shishirmk commented on #317
Fix released in Released in [Version 1.4](https://github.com/Netflix/fast_jsonapi/releases/tag/1.4)

[2018-09-20 04:58] #317 closed

[2018-09-20 04:58] shishirmk commented on #292
Released in [Version 1.4](https://github.com/Netflix/fast_jsonapi/releases/tag/1.4)

[2018-09-20 04:58] #292 closed

[2018-09-20 04:59] shishirmk commented on #284
Released in [Version 1.4](https://github.com/Netflix/fast_jsonapi/releases/tag/1.4)

[2018-09-20 04:59] #284 closed

[2018-09-20 05:01] shishirmk commented on #277
Released in [Version 1.4](https://github.com/Netflix/fast_jsonapi/releases/tag/1.4)

[2018-09-20 05:01] #277 closed

[2018-09-20 05:02] shishirmk commented on #310
Released in [Version 1.4](https://github.com/Netflix/fast_jsonapi/releases/tag/1.4)

[2018-09-20 05:02] #310 closed

[2018-09-20 05:03] shishirmk commented on #237
Released in [Version 1.4](https://github.com/Netflix/fast_jsonapi/releases/tag/1.4)

[2018-09-20 05:03] #237 closed

[2018-09-20 05:03] shishirmk commented on #231
Released in [Version 1.4](https://github.com/Netflix/fast_jsonapi/releases/tag/1.4)

[2018-09-20 05:03] #231 closed

[2018-09-20 05:04] shishirmk commented on #318
The fix for this issue should be released in [Version 1.4](https://github.com/Netflix/fast_jsonapi/releases/tag/1.4)

[2018-09-20 05:04] #318 closed

[2018-09-20 09:05] hult commented on #310
It seems the fix didn't make version 1.4 after all?

[2018-09-20 11:34] jmgarnier opened #321 "Release cycle, next release date?"
Dear maintainers,

At @nedap we are quite eager to try `fast_jsonapi` but we are waiting for a new release for a fix which is  in your `dev` branch.

Would you be so kind to let the rest of the world know about your release cycle? Nothing urgent, here :)
I guess we can always fork and release a new version in our private gemfurry ...

Thanks anyway for sharing your work.

JM

[2018-09-20 17:52] shishirmk commented on #321
@jmgarnier I released a new version yesterday night https://github.com/Netflix/fast_jsonapi/releases/tag/1.4

There is only 1 fix that is in dev that hasn't gone out after yesterday's release. It this fix https://github.com/Netflix/fast_jsonapi/pull/313 If this is needed urgently. I can make a quick patch release 1.4.1

We don't have a fixed release cycle. We generally release when a new highly re

[2018-09-20 18:47] sirdharma commented on #317
@shishirmk Thank you for your answer.

I could not find how to specify the include when the association is polymorphic. `PictureSerializer.new(pictures, include: [:imageable, :'employee.employee_record'])` doesn't work.

Have I missed something?

[2018-09-22 13:54] YoranBrondsema opened #322 "Infer `record_type` and `serializer` from the association"
If we have

[code]

then right now we have to specify `record_type` and `serializer` in its serializer:

[code]

However, we can automatically infer those properties through the ActiveRecord::Reflection API:

[code]

Is this something that you have considered adding? I think it could be added to the `create_relationship` method in https://github.com/Netflix/fast_jsonapi/blob/1.4/lib/fast_jsonapi/o

[2018-09-24 15:23] Mziserman opened #323 "Paginate relations"
Hello,

I'm using fast_jsonapi on a project and was wondering how to paginate relations without breaking the logic.

Currently, I have those serializers :
[code]

[code]
and this controller
[code]
The issue is some event type have thousands of events.
My question is, how can I paginate events on the event_type show view. Should I make a custom attribute for events in EventTypeSerializer ? Then eve

[2018-09-24 19:47] larryrutledge opened #324 "Conditional Relationship not working"
I have a polymorphic relationship "sellable" and want to load a specific serializer depending on a type. For example, if I have two sellable items (Books and Shoes) when a sale is created, in the Sale Serializer I want to load either the Book serializer or the Shoe serializer depending on the sale item (sellable_type).

Here's how I've tried to implement this:

[code]

Regardless of what the sella

[2018-09-24 21:32] mhi20 opened #325 "Problem with jsonapi template"
Hi
Can I not use the Jsonapi template?
Can I use a regular template?
**For example :**
{
 "title":"blah blah",
 "address": "blah blah",
  "images":[
    {
      "url":"http:// blah blah"
     },
     {
       "url":"http:// blah blah"
     }
   ]
}

[2018-09-25 20:16] BryceHarlan commented on #304
Should the relationships hash return `{}` in the example discussed above? I've run into some issues using third party jsonapi normalizers because of this behavior. If not the test to update would be `it 'returns correct nested includes when serializable_hash is called'` in `object_serializer_spec`.

[2018-09-27 15:01] jakubmank commented on #314
@shishirmk how about situation when  some of the attributes are not needed when collection is serialized but there are necessary when only one object is serialized ?

On the other hand if some of the attribute is conditional and requires also small modification (eg. created_at -> format date before returning it ).

It would be easier with such conditional_block IMO or maybe I am missing some exist

[2018-09-27 21:06] henvo commented on #245
@feliperaul I ran into the same issue and landed here. Luckily I found the solution to this "bug" by diving into the code of the `FastJsonapi::Relationship`.

The problem here is the option `id_method_name`. **We used it wrong the whole time**. The method, that is specified in `id_method_name` is **NOT** called on the included relationship - it is called on the serialized object.

### TL;DR to get

[2018-09-28 07:51] rishabhsairawat commented on #245
I ran into the same type of issue for belongs_to.
This is what i have done:
[code]
I ran `ASerializer.new(instance_of_a).serializable_hash` and got following output:
[code]
Expected Output:
[code]

[2018-09-28 08:18] henvo commented on #245
Yes this is the same "issue" as with the `has_many` relationships.

The method `id_method_name` is not called on the B object - it is called on the A object.
So to fix this issue you would have to do this:

[code]

[2018-09-28 09:12] rishabhsairawat commented on #245
@henvo I understood your point. But:
First, I think there should not be a need of using `id_method_name` to set `id` for the b for the relationships. It should use `id` from b's serializer. (Just Like AMS)
Second, if `id_method_name` has to be used then it should be called upon relationship object. It does not make sense to set `id` of b's object by calling a method for a's object.

@shishirmk Ple

[2018-09-28 10:06] henvo commented on #245
@rishabhsairawat I completely agree.

[2018-09-28 11:56] rishabhsairawat opened #327 "set_type not working properly"
I ran into this problem today. `set_type` is not working properly.

**Here is my serializer: (Using set_type before set_key_transform)**
[code]
**and Here is my result from above serializer:**
[code]

**But when I change my serializer to this: (Using set_type after set_key_transform)**
[code]
**I get the correct output:**
[code]

This is a very weird behavior. @shishirmk Have a look at this.

[2018-09-29 00:29] zinosama opened #328 "Serializing non-persistent relationships"
Dear maintainers,

Given
[code]

When I run `FooSerializer.new(foo,{include: %i(bar)).serialized_hash`, I expect the `included` section to have a length of 2 (2 bar object serializations). However, there is only 1 because non of the objects are persisted and thus both ids are nil. Since `known_included_objects` caches 'known' objects, the 2 bar objects are considered as the same object and thus on

[2018-10-02 14:33] zinosama commented on #237
@shishirmk I don't think this issue is resolved by #274 since I'm still running into the same problem with 1.4. As manojmj92 [pointed out](https://github.com/Netflix/fast_jsonapi/pull/274#issuecomment-406156094), #274 only solves the issue with `id_method_name` not being set with block.

[2018-10-02 15:29] malaquf commented on #102
I would also like to see how a native support for this would look like.
@coconup, thanks for the example but I'm still a novice and didn't catch what would be expected exactly in serializer_source, which you omitted. Would you please provide an example?

[2018-10-02 15:40] coconup commented on #102
@malaquf I am passing instances of a custom error class to the serializer, which have a `serializer_source` attribute. It could also be a method if you need some extra logic. Something like this:

[code]

When I want to serialize an error:

[code]

[2018-10-07 22:27] matteddy opened #332 "Missing meta field for"

[2018-10-07 22:29] #332 closed

[2018-10-08 16:12] brandonjyuhas commented on #301
@manojmj92 hey! Thanks for taking time to work on this enhancement. Any updates on the automatic pluralization feature (or any idea of a workaround)?

Right now my team and I are setting each relationship's `record_type` manually, and we'd love to do it in a more programmatic way.

Thanks again!

[2018-10-08 22:41] amysutedja commented on #301
@manojmj92 If you haven’t taken a look at this yet, I have some ideas on a potential fix.

[2018-10-09 01:34] manojmj92 commented on #301
I've not taken this up. Please feel free to work on this.

On Tue, Oct 9, 2018, 4:11 AM Amy Sutedja <notifications@github.com> wrote:

[2018-10-09 14:36] kgeoir commented on #307
Hello,
  So I finally got the opportunity to dig a little in the topic. Actually here is what I dont like/dont understand in this solution:
1- If I declare the has_many in the serialize but dont use (without include: [:books]) I still have call to books done which I dont want since it is not a requested data
2- When I call, the data are included in an external array call included so I have to rebu

[2018-10-11 02:16] chevinbrown commented on #182
@shishirmk this is an issue for me also. Has there been any development on this?

[2018-10-11 03:14] chevinbrown commented on #182
@shishirmk the way this library sets the type keys for compound documents doesn't match up 1-1 with  AMS...is it possible to change key names?

[2018-10-16 20:15] AndreiMotinga opened #335 "How to serialize attribute created on the fly?"
Apologies if you find this better suited for Stack Overflow, but I hope if it already exists, you could add it to docs somewhere, or, if not, maybe it can be considered a feature request.

Problem:
I'm using gem 'activerecord-postgres-earthdistance' for filtering by distance.

[code]

hence
[code]

blows up with `undefined method ` 'distance' for #<Restaurant:0x007fd8eedbd4a8>`

Is there a way to

[2018-10-17 04:15] manojmj92 commented on #335
HI @AndreiMotinga, I looked into the `activerecord-postgres-earthdistance` gem, but did not see a method called `distance` added in their API. Are you sure you are able to execute, say `Restaurant.first.distance` in your Rails console successfully?

[2018-10-17 04:19] AndreiMotinga commented on #335
Hi @manojmj92,
Since I don't have distance attribute on the model,  I wouldn't be able to do just

[code]

but after calling scope, provided by the gem, I would.

I believe it states so even in the readme of the gem.

[code]

[2018-10-17 04:28] manojmj92 commented on #335
This is strange: According to the info you have supplied, I do not see how serializer could fail.

As next step, in your controller action, can you put a `binding` in your controller action and check this:

[code]
Execute `@restaurants.first.distance`

[2018-10-17 04:30] AndreiMotinga commented on #335
[code]

[2018-10-17 04:33] manojmj92 commented on #335
Yes, as I expected, it is not a serialzier problem, you are unable to access `object.distance` even outside of the serializer.
I am guessing `@restaurants` is of a different class than the one you are expecting to get. Please check on that and the serializer should work right if the objects in your collection respond to `.distance`

[2018-10-17 04:38] AndreiMotinga commented on #335
Yes, It is very odd. For some reason, calling method on model directly returns records with `distance`,
but calling same method on already scoped results doesn't... It's half hour past midnight, I'll investigate this in early morning. Thank you for the help, once again, @manojmj92.

Please don't close this just yet.

[2018-10-17 04:39] manojmj92 commented on #335
No problem @AndreiMotinga , please take your time and update your findings here. We are also eager to learn!

Thanks for raising your concern, always happy to help! :)

[2018-10-17 13:37] jcsturges opened #337 "option to ignore `null` and `empty` values during serialization"
Coming from the Java/Jackson ObjectMapper world this would be an optimization to sending serialized JSON across the wire. Ideally having an option to specify exclude `null` or `empty` ('') values, or include `non_null` or `non_empty` depending on how you look at it.

It might not seem like much, but we're always trying to optimize everywhere for high volume requests and data returns. This is one w

[2018-10-17 14:07] AndreiMotinga commented on #335
Here are my findings

[code]

with `joins`, distance is still there

[code]

but with includes, it's not

[code]

It's good to know that as long as attribute there, serialzer will be able to, well, serialize it. I wasn't sure about this part before.

At this point I need to figure out, how to get my scope to return results needed and not cause N+1 at the same time. But that's definitely a problem

[2018-10-17 14:18] #335 closed

[2018-10-17 17:32] dudo opened #338 "set_id isn't respected for relationships"
I can work around this, but I think this behavior is off. 2 things to report about `set_id`.

If I put `set_id :slug` in a base class or sorts, the children don't seem to care, and still use `:id`.

More importantly, relationships don't use the new id.

    class AccountSerializer < BaseSerializer
      set_id :slug

      attributes :name

      belongs_to :applied_rule, record_type: :rule
    en

[2018-10-18 16:29] Mziserman commented on #338
Hey,

I have the same problem and made a failing spec for it : https://github.com/Mziserman/fast_jsonapi/blob/failing-spec-for-set-id/spec/lib/object_serializer_spec.rb#L186.

Hope it helps !

[2018-10-21 05:47] LuisHCK opened #340 "Params & Sparse Fieldsets"
I am trying to achieve something similar to what is described in the JSON API documentation: [JSON API - Sparse Fieldsets](https://jsonapi.org/examples/)

im doing the request:`rooms?include=[user]`

in my controller:
[code]
but the response is
[code]
I understand that the error refers to the fact that params is passing a String, even though I am sending the header `Content-Type:application/json`

[2018-10-21 13:44] manojmj92 commented on #328
Hi @zinosama ,

thanks for raising this issue! It is a very valid point and this is a usecase that many people will have. However, according to JSON API Spec, every object is supposed to have an ID without exceptions, so this is why we check for `known_included_objects` based on their ID. (Please see this: https://github.com/json-api/json-api/issues/648)

However, you have a workaroud here, thanks

[2018-10-24 01:54] dudo commented on #338
Better yet, why use `set_id` at all, and just rely on `to_param` on the model? Or is that too presumptuous?

[2018-10-24 20:55] MAXGGG commented on #338
@dudo  Hi i'm very new to rails and also ran into this problem. The set_id for children is not working in the relations. Can you share your workaround with me, I tried to_param but no good. Thanks a lot.